# Secrets
/secrets/
.env
*.json
*.key
*.pem

# Environment files
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]

# Ignore specific files inside templates/
templates/bus_info.html
templates/loading.html

templates/stops.html