<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">

    <title>One Bus</title>

</head>
<body>
    <div class="container">
            <h2>Top 3 closest Bus Stops</h2>
        
        <div class="bus-container">
            <!-- Display the HTML table -->
            {% if table %}
                {{ table | safe }}
            {% else %}
                <p>No data available.</p>
            {% endif %}
        </div>

        <!-- Form for getting Updates -->
        <div class="form-container">

        <!-- For user to POST their bus number -->
        <form method="POST">
            <label for="user_input">Enter a bus number: </label>
            <input type="number" id="user_input" name="user_input" required>
                <button type="submit">Enter</button>
        </form>
    </div>
    <a href="/"><button>Back</button></a>

    </div>
</body>
</html>
