<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">

    <title>One Bus</title>
    
</head>
<body>
    <div class="container">
        <h1>Welcome to 1-Bus!</h1>
        1-Bus is a tool to help you find a Place of Interest (POI) that only requires one bus
        for you to get to! <br> 

        <div class="spoofButton-container">
            <span id="locationText" style="display: none;">Currently only available to Austinites, click the button below to temporarily 
                move to Austin</span><br>
            <script src="{{ url_for('static', filename='setLocation.js') }}" defer></script>

            <button id="spoofButton" style="display: none;">Teleport me to Austin!</button>
            <script src="{{ url_for('static', filename='setLocation.js') }}" defer></script>
        </div>
        

        <!-- <script src="{{ url_for('static', filename='setLocation.js') }}" defer></script>
        <h3>The website currently only works for Austinites, sorry! If you would still like to check it out 
        click <span id="setLocationButton">here</span> to visit Austin</h3> -->


        <!-- For user to POST their bus number -->
        <!-- <form method="POST">
            <label for="user_input">Enter a bus number: </label>
            <input type="number" id="user_input" name="user_input" required>
                <button type="submit">Enter</button>
        </form> -->

        <h3>Click <span id="getLocationBtn">here</span> to find out what buses are near you!</h3>
        <script src="{{ url_for('static', filename='location.js') }}" defer></script>

        <!-- <h3 id="locationPrompt"></h3>
        <script src="{{ url_for('static', filename='checkLocation.js') }}" defer></script>  -->



        

        <!-- Form for getting Updates -->
        <div class="form-container">
            <!-- For user to GET the updates -->
            Email me Martin at martincodesthings@gmail.com for questions or collaborations!
            <!-- <form action="{{ url_for('updates') }}" method="get">
                <button type="submit">Website Updates</button>
            </form> -->
        </div>


        
    </div>
</body>
</html>