<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9ec3a3cb2ef4b1721d83e9bb1fe311f5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_9ec3a3cb2ef4b1721d83e9bb1fe311f5" ></div>
        
</body>
<script>    
    
            var map_9ec3a3cb2ef4b1721d83e9bb1fe311f5 = L.map(
                "map_9ec3a3cb2ef4b1721d83e9bb1fe311f5",
                {
                    center: [30.457116, -97.803597],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cb8496ac6531a0213c32cf1cbf429aa5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var marker_7166510adc8cf561dc66ab6d89a0ff8c = L.marker(
                [30.457116, -97.803597],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_a0baefe14d3375b9114c7e12df83471e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_7166510adc8cf561dc66ab6d89a0ff8c.setIcon(icon_a0baefe14d3375b9114c7e12df83471e);
        
    
        var popup_6546ff2177b08c30db202fed9208db81 = L.popup({"maxWidth": 300});

        
            var html_3ed49f620f00efe71e9348ae6186bdb0 = $(`<div id="html_3ed49f620f00efe71e9348ae6186bdb0" style="width: 100.0%; height: 100.0%;">10621 Lake Creek/Millwright</div>`)[0];
            popup_6546ff2177b08c30db202fed9208db81.setContent(html_3ed49f620f00efe71e9348ae6186bdb0);
        

        marker_7166510adc8cf561dc66ab6d89a0ff8c.bindPopup(popup_6546ff2177b08c30db202fed9208db81)
        ;

        
    
    
            var marker_1d68476067fac578e056914b1575bbd4 = L.marker(
                [30.458877, -97.799056],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_cacb0fee1c5612dcd0e631a84c79a25e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_1d68476067fac578e056914b1575bbd4.setIcon(icon_cacb0fee1c5612dcd0e631a84c79a25e);
        
    
        var popup_3e6a8802e65cc9a258c6f389324ea076 = L.popup({"maxWidth": 300});

        
            var html_4d977499c19bc46e7f0ba78f57c8cb03 = $(`<div id="html_4d977499c19bc46e7f0ba78f57c8cb03" style="width: 100.0%; height: 100.0%;">10505 Lake Creek/Hickory Stick</div>`)[0];
            popup_3e6a8802e65cc9a258c6f389324ea076.setContent(html_4d977499c19bc46e7f0ba78f57c8cb03);
        

        marker_1d68476067fac578e056914b1575bbd4.bindPopup(popup_3e6a8802e65cc9a258c6f389324ea076)
        ;

        
    
    
            var marker_7158bf6b2d727eb56713495ac9e7c73c = L.marker(
                [30.46064, -97.79704],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_193702700816b0a5abee99826f7b53a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_7158bf6b2d727eb56713495ac9e7c73c.setIcon(icon_193702700816b0a5abee99826f7b53a2);
        
    
        var popup_5213debfafa0feca6e97a9134e4522f6 = L.popup({"maxWidth": 300});

        
            var html_3319864d9f1971ff24731e254291d5eb = $(`<div id="html_3319864d9f1971ff24731e254291d5eb" style="width: 100.0%; height: 100.0%;">10409 Lake Creek/Mellow Meadows</div>`)[0];
            popup_5213debfafa0feca6e97a9134e4522f6.setContent(html_3319864d9f1971ff24731e254291d5eb);
        

        marker_7158bf6b2d727eb56713495ac9e7c73c.bindPopup(popup_5213debfafa0feca6e97a9134e4522f6)
        ;

        
    
    
            var marker_b5e6a9d76d2266ad368361038a9bcd6a = L.marker(
                [30.462312, -97.791684],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_5740165126fe24731fdfcd3a75859a99 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_b5e6a9d76d2266ad368361038a9bcd6a.setIcon(icon_5740165126fe24731fdfcd3a75859a99);
        
    
        var popup_cab81311e938acd9bd1debbab6ea0339 = L.popup({"maxWidth": 300});

        
            var html_792915700e86492ab153a55c6b763ae7 = $(`<div id="html_792915700e86492ab153a55c6b763ae7" style="width: 100.0%; height: 100.0%;">10135 Lake Creek/US 183</div>`)[0];
            popup_cab81311e938acd9bd1debbab6ea0339.setContent(html_792915700e86492ab153a55c6b763ae7);
        

        marker_b5e6a9d76d2266ad368361038a9bcd6a.bindPopup(popup_cab81311e938acd9bd1debbab6ea0339)
        ;

        
    
    
            var marker_8c91e768090646bf863c2af047452e31 = L.marker(
                [30.463646, -97.789238],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_b4d5872a3e6f6d7df2f303dd7c425940 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_8c91e768090646bf863c2af047452e31.setIcon(icon_b4d5872a3e6f6d7df2f303dd7c425940);
        
    
        var popup_fce25e5adddd2ee5b1b887c7bd73869f = L.popup({"maxWidth": 300});

        
            var html_d3eb5a581558ec567cb92893c9dbc9c6 = $(`<div id="html_d3eb5a581558ec567cb92893c9dbc9c6" style="width: 100.0%; height: 100.0%;">Lake Creek/Hymeadow</div>`)[0];
            popup_fce25e5adddd2ee5b1b887c7bd73869f.setContent(html_d3eb5a581558ec567cb92893c9dbc9c6);
        

        marker_8c91e768090646bf863c2af047452e31.bindPopup(popup_fce25e5adddd2ee5b1b887c7bd73869f)
        ;

        
    
    
            var marker_c4f7ce13681b3b0d8d76e3a3c5976657 = L.marker(
                [30.467978, -97.787873],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_dc4285696219df549f88a4ee08e5d611 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_c4f7ce13681b3b0d8d76e3a3c5976657.setIcon(icon_dc4285696219df549f88a4ee08e5d611);
        
    
        var popup_ad55e9165d4454dd9fcfc8f4f89af266 = L.popup({"maxWidth": 300});

        
            var html_742368d9c4c7f4be9e6a466121b89d5b = $(`<div id="html_742368d9c4c7f4be9e6a466121b89d5b" style="width: 100.0%; height: 100.0%;">10007 Lake Creek/Pecan Park</div>`)[0];
            popup_ad55e9165d4454dd9fcfc8f4f89af266.setContent(html_742368d9c4c7f4be9e6a466121b89d5b);
        

        marker_c4f7ce13681b3b0d8d76e3a3c5976657.bindPopup(popup_ad55e9165d4454dd9fcfc8f4f89af266)
        ;

        
    
    
            var marker_bfb94ece189a9c939fd187ce010bd5b4 = L.marker(
                [30.474728, -97.795902],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_75d77598b0eb2f1ac150954229cab510 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_bfb94ece189a9c939fd187ce010bd5b4.setIcon(icon_75d77598b0eb2f1ac150954229cab510);
        
    
        var popup_b6a39b013475babdd23527e353eb1539 = L.popup({"maxWidth": 300});

        
            var html_de13b2a078bc649f24f494d954767ac7 = $(`<div id="html_de13b2a078bc649f24f494d954767ac7" style="width: 100.0%; height: 100.0%;">10818 Lakeline Mall/Lake Creek</div>`)[0];
            popup_b6a39b013475babdd23527e353eb1539.setContent(html_de13b2a078bc649f24f494d954767ac7);
        

        marker_bfb94ece189a9c939fd187ce010bd5b4.bindPopup(popup_b6a39b013475babdd23527e353eb1539)
        ;

        
    
    
            var marker_913ae35ee3acb9fdbbc75b21dd62b206 = L.marker(
                [30.472378, -97.801255],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_0d17e3353fd41b0b921e4fb5d2363572 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_913ae35ee3acb9fdbbc75b21dd62b206.setIcon(icon_0d17e3353fd41b0b921e4fb5d2363572);
        
    
        var popup_a18c969518d1ba03b5582bbafe742506 = L.popup({"maxWidth": 300});

        
            var html_67b91d4f2ee30111e9d031c6e18a0810 = $(`<div id="html_67b91d4f2ee30111e9d031c6e18a0810" style="width: 100.0%; height: 100.0%;">11020 Lakeline Mall/Pecan Park</div>`)[0];
            popup_a18c969518d1ba03b5582bbafe742506.setContent(html_67b91d4f2ee30111e9d031c6e18a0810);
        

        marker_913ae35ee3acb9fdbbc75b21dd62b206.bindPopup(popup_a18c969518d1ba03b5582bbafe742506)
        ;

        
    
    
            var marker_dc47d934a87a9b122765ac6ce8fcb104 = L.marker(
                [30.4727, -97.802246],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_a4a13437988e484e8ea996020156957b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_dc47d934a87a9b122765ac6ce8fcb104.setIcon(icon_a4a13437988e484e8ea996020156957b);
        
    
        var popup_9f5c4052bf5f6bc271fd796a40a6d49f = L.popup({"maxWidth": 300});

        
            var html_4e378d8085ea15d18afdd901b8c0578e = $(`<div id="html_4e378d8085ea15d18afdd901b8c0578e" style="width: 100.0%; height: 100.0%;">11100 Pecan Park/Lakeline Mall</div>`)[0];
            popup_9f5c4052bf5f6bc271fd796a40a6d49f.setContent(html_4e378d8085ea15d18afdd901b8c0578e);
        

        marker_dc47d934a87a9b122765ac6ce8fcb104.bindPopup(popup_9f5c4052bf5f6bc271fd796a40a6d49f)
        ;

        
    
    
            var marker_6b4166c22757175c5c6ee83444928a81 = L.marker(
                [30.478414, -97.804675],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_8a81af5138899a2dd07975abf311d0fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_6b4166c22757175c5c6ee83444928a81.setIcon(icon_8a81af5138899a2dd07975abf311d0fc);
        
    
        var popup_907d3a16461d5b943f577face9ceb0c1 = L.popup({"maxWidth": 300});

        
            var html_b8b02630dba6b799906fd4e1f2d23c5f = $(`<div id="html_b8b02630dba6b799906fd4e1f2d23c5f" style="width: 100.0%; height: 100.0%;">Lakeline/US 183</div>`)[0];
            popup_907d3a16461d5b943f577face9ceb0c1.setContent(html_b8b02630dba6b799906fd4e1f2d23c5f);
        

        marker_6b4166c22757175c5c6ee83444928a81.bindPopup(popup_907d3a16461d5b943f577face9ceb0c1)
        ;

        
    
    
            var marker_cbdbab28eca82624668877ba515a64db = L.marker(
                [30.480007, -97.800186],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_94b9c6b7f87db0b875c4718ebda376f0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_cbdbab28eca82624668877ba515a64db.setIcon(icon_94b9c6b7f87db0b875c4718ebda376f0);
        
    
        var popup_a84730c94d92d36c3c7ebacf70d26a8b = L.popup({"maxWidth": 300});

        
            var html_38525ed5f8eedfdc81729d57c0167c01 = $(`<div id="html_38525ed5f8eedfdc81729d57c0167c01" style="width: 100.0%; height: 100.0%;">Lakeline/US 183</div>`)[0];
            popup_a84730c94d92d36c3c7ebacf70d26a8b.setContent(html_38525ed5f8eedfdc81729d57c0167c01);
        

        marker_cbdbab28eca82624668877ba515a64db.bindPopup(popup_a84730c94d92d36c3c7ebacf70d26a8b)
        ;

        
    
    
            var marker_f9b00d8b294fd3bf5e8063e5d77ae234 = L.marker(
                [30.479846, -97.79749],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_fd9796bb2bd51d287c2bea036e9f00f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_f9b00d8b294fd3bf5e8063e5d77ae234.setIcon(icon_fd9796bb2bd51d287c2bea036e9f00f6);
        
    
        var popup_c61eccf997e2807f0052eabd32091e78 = L.popup({"maxWidth": 300});

        
            var html_eb64cfcf7d0d52f8bc406f9bfc841ef8 = $(`<div id="html_eb64cfcf7d0d52f8bc406f9bfc841ef8" style="width: 100.0%; height: 100.0%;">11101 Lakeline/North Lake Creek</div>`)[0];
            popup_c61eccf997e2807f0052eabd32091e78.setContent(html_eb64cfcf7d0d52f8bc406f9bfc841ef8);
        

        marker_f9b00d8b294fd3bf5e8063e5d77ae234.bindPopup(popup_c61eccf997e2807f0052eabd32091e78)
        ;

        
    
    
            var marker_250a52b0ec564599879a5d3a3442b1a2 = L.marker(
                [30.480562, -97.786668],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_57731701ca9d41a468f08251f3c04dc1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_250a52b0ec564599879a5d3a3442b1a2.setIcon(icon_57731701ca9d41a468f08251f3c04dc1);
        
    
        var popup_d6ab340a3028fe3dc76f6c56e69aae2a = L.popup({"maxWidth": 300});

        
            var html_d93f1b4a722f42d6856bb0be028a72c6 = $(`<div id="html_d93f1b4a722f42d6856bb0be028a72c6" style="width: 100.0%; height: 100.0%;">Lakeline Station Bay H</div>`)[0];
            popup_d6ab340a3028fe3dc76f6c56e69aae2a.setContent(html_d93f1b4a722f42d6856bb0be028a72c6);
        

        marker_250a52b0ec564599879a5d3a3442b1a2.bindPopup(popup_d6ab340a3028fe3dc76f6c56e69aae2a)
        ;

        
    
    
            var marker_e332f645cc50364b3f34058d0bdb1c94 = L.marker(
                [30.456285549279873, -97.80380262984576],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_ccd423adde0402820809e462c23f85d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "institution", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e332f645cc50364b3f34058d0bdb1c94.setIcon(icon_ccd423adde0402820809e462c23f85d6);
        
    
        var popup_f2a073fe57f3afea188bc9e74d43ef13 = L.popup({"maxWidth": 300});

        
            var html_8a11857d457607e0e8b7cb80279a5bb0 = $(`<div id="html_8a11857d457607e0e8b7cb80279a5bb0" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10621 Lake Creek/Millwright.<br>Name of POI: Anderson Mill Baptist Church.<br>Type of POI: place_of_worship.<br>Bus journey: 0 minutes.</div>`)[0];
            popup_f2a073fe57f3afea188bc9e74d43ef13.setContent(html_8a11857d457607e0e8b7cb80279a5bb0);
        

        marker_e332f645cc50364b3f34058d0bdb1c94.bindPopup(popup_f2a073fe57f3afea188bc9e74d43ef13)
        ;

        
    
    
            var marker_9a75ebb562c123eb1a25b94dffba97c4 = L.marker(
                [30.4620006, -97.7951848],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_6fe57975e1aece9703a323def7c4b722 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_9a75ebb562c123eb1a25b94dffba97c4.setIcon(icon_6fe57975e1aece9703a323def7c4b722);
        
    
        var popup_5632bbd1f5ec0e1f6d2f9a029ffc893b = L.popup({"maxWidth": 300});

        
            var html_c4cf0d45bf61c63b7d724f39f81e98da = $(`<div id="html_c4cf0d45bf61c63b7d724f39f81e98da" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10409 Lake Creek/Mellow Meadows.<br>Name of POI: Pita Fusion.<br>Type of POI: restaurant.<br>Bus journey: 2 minutes.</div>`)[0];
            popup_5632bbd1f5ec0e1f6d2f9a029ffc893b.setContent(html_c4cf0d45bf61c63b7d724f39f81e98da);
        

        marker_9a75ebb562c123eb1a25b94dffba97c4.bindPopup(popup_5632bbd1f5ec0e1f6d2f9a029ffc893b)
        ;

        
    
    
            var marker_ade6d1906b4f0527063b1d4f7f640907 = L.marker(
                [30.4757107, -97.7979403],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_b6ae191af19c6754e862b147fcdd9d1c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ade6d1906b4f0527063b1d4f7f640907.setIcon(icon_b6ae191af19c6754e862b147fcdd9d1c);
        
    
        var popup_03f2f19b918e2a2f7b1d866ce0da1fcd = L.popup({"maxWidth": 300});

        
            var html_1b134b8a74de90342f94dd4871a0c4a7 = $(`<div id="html_1b134b8a74de90342f94dd4871a0c4a7" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10818 Lakeline Mall/Lake Creek.<br>Name of POI: First Watch.<br>Type of POI: restaurant.<br>Bus journey: 8 minutes.</div>`)[0];
            popup_03f2f19b918e2a2f7b1d866ce0da1fcd.setContent(html_1b134b8a74de90342f94dd4871a0c4a7);
        

        marker_ade6d1906b4f0527063b1d4f7f640907.bindPopup(popup_03f2f19b918e2a2f7b1d866ce0da1fcd)
        ;

        
    
    
            var marker_aac92cb38602eb4af469bc57ec80cd6e = L.marker(
                [30.4710909, -97.8012024],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_d42c4290358c1f72ef1cabe73efe2a81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_aac92cb38602eb4af469bc57ec80cd6e.setIcon(icon_d42c4290358c1f72ef1cabe73efe2a81);
        
    
        var popup_54dd24a0b0fd156b8fbc001f99157747 = L.popup({"maxWidth": 300});

        
            var html_0178ba77ee527f941910603d1b35b065 = $(`<div id="html_0178ba77ee527f941910603d1b35b065" style="width: 100.0%; height: 100.0%;">Closest bus stop: 11020 Lakeline Mall/Pecan Park.<br>Name of POI: Texican Cafe.<br>Type of POI: restaurant.<br>Bus journey: 9 minutes.</div>`)[0];
            popup_54dd24a0b0fd156b8fbc001f99157747.setContent(html_0178ba77ee527f941910603d1b35b065);
        

        marker_aac92cb38602eb4af469bc57ec80cd6e.bindPopup(popup_54dd24a0b0fd156b8fbc001f99157747)
        ;

        
    
    
            var marker_40e3a90eadc270cba9966289823873c2 = L.marker(
                [30.472648644981838, -97.8018340048044],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_6a49299f618fb150debc54459aa5fcbc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_40e3a90eadc270cba9966289823873c2.setIcon(icon_6a49299f618fb150debc54459aa5fcbc);
        
    
        var popup_b919d7f2316c5f51c4a60981a64d52d6 = L.popup({"maxWidth": 300});

        
            var html_f7fe33716a456e01afc52f03eb2f3343 = $(`<div id="html_f7fe33716a456e01afc52f03eb2f3343" style="width: 100.0%; height: 100.0%;">Closest bus stop: 11020 Lakeline Mall/Pecan Park.<br>Name of POI: Serranos Cocina y Cantina.<br>Type of POI: restaurant.<br>Bus journey: 9 minutes.</div>`)[0];
            popup_b919d7f2316c5f51c4a60981a64d52d6.setContent(html_f7fe33716a456e01afc52f03eb2f3343);
        

        marker_40e3a90eadc270cba9966289823873c2.bindPopup(popup_b919d7f2316c5f51c4a60981a64d52d6)
        ;

        
    
    
            var marker_5defdd2a9643817fcbf9cf4e0fb5d1b8 = L.marker(
                [30.47212071826265, -97.79961115653663],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_b148927eb37cfa77d018cbf57efb63b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5defdd2a9643817fcbf9cf4e0fb5d1b8.setIcon(icon_b148927eb37cfa77d018cbf57efb63b7);
        
    
        var popup_9ec8755807d3e54a28758653128217e4 = L.popup({"maxWidth": 300});

        
            var html_1e60144924280dc554706b779781a37b = $(`<div id="html_1e60144924280dc554706b779781a37b" style="width: 100.0%; height: 100.0%;">Closest bus stop: 11020 Lakeline Mall/Pecan Park.<br>Name of POI: Applebee's.<br>Type of POI: restaurant.<br>Bus journey: 9 minutes.</div>`)[0];
            popup_9ec8755807d3e54a28758653128217e4.setContent(html_1e60144924280dc554706b779781a37b);
        

        marker_5defdd2a9643817fcbf9cf4e0fb5d1b8.bindPopup(popup_9ec8755807d3e54a28758653128217e4)
        ;

        
    
    
            var marker_b06f6f7847fafe03307a75afa07c9dd9 = L.marker(
                [30.4710909, -97.8012024],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_ee9d9db7b52762b76cacc658de0737f3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b06f6f7847fafe03307a75afa07c9dd9.setIcon(icon_ee9d9db7b52762b76cacc658de0737f3);
        
    
        var popup_8512146d636f81154b256ecebfe5f66c = L.popup({"maxWidth": 300});

        
            var html_4712bec8a84ebef361395e05006b8914 = $(`<div id="html_4712bec8a84ebef361395e05006b8914" style="width: 100.0%; height: 100.0%;">Closest bus stop: 11100 Pecan Park/Lakeline Mall.<br>Name of POI: Texican Cafe.<br>Type of POI: restaurant.<br>Bus journey: 10 minutes.</div>`)[0];
            popup_8512146d636f81154b256ecebfe5f66c.setContent(html_4712bec8a84ebef361395e05006b8914);
        

        marker_b06f6f7847fafe03307a75afa07c9dd9.bindPopup(popup_8512146d636f81154b256ecebfe5f66c)
        ;

        
    
    
            var marker_c6b183d15554777f984435ccb6dd0a6b = L.marker(
                [30.472648644981838, -97.8018340048044],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_bcb30bab1268ffd11737b7e51eba6e10 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c6b183d15554777f984435ccb6dd0a6b.setIcon(icon_bcb30bab1268ffd11737b7e51eba6e10);
        
    
        var popup_6f634ccf5b13d6ca5d2eb69da453cc8b = L.popup({"maxWidth": 300});

        
            var html_8554c5e57e539ed76f0c5833d53e8333 = $(`<div id="html_8554c5e57e539ed76f0c5833d53e8333" style="width: 100.0%; height: 100.0%;">Closest bus stop: 11100 Pecan Park/Lakeline Mall.<br>Name of POI: Serranos Cocina y Cantina.<br>Type of POI: restaurant.<br>Bus journey: 10 minutes.</div>`)[0];
            popup_6f634ccf5b13d6ca5d2eb69da453cc8b.setContent(html_8554c5e57e539ed76f0c5833d53e8333);
        

        marker_c6b183d15554777f984435ccb6dd0a6b.bindPopup(popup_6f634ccf5b13d6ca5d2eb69da453cc8b)
        ;

        
    
    
            var marker_f2fbc581fa66eef208d4456fe5ff4bcc = L.marker(
                [30.4769275, -97.8051037],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_f30fc0d96b39806334b790ad8f0bb519 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f2fbc581fa66eef208d4456fe5ff4bcc.setIcon(icon_f30fc0d96b39806334b790ad8f0bb519);
        
    
        var popup_f9470da9e0180fb26abb48ecb365168e = L.popup({"maxWidth": 300});

        
            var html_222df776a40a835cd2040193bc4c6a4b = $(`<div id="html_222df776a40a835cd2040193bc4c6a4b" style="width: 100.0%; height: 100.0%;">Closest bus stop: Lakeline/US 183.<br>Name of POI: Starbucks.<br>Type of POI: cafe.<br>Bus journey: 12 minutes.</div>`)[0];
            popup_f9470da9e0180fb26abb48ecb365168e.setContent(html_222df776a40a835cd2040193bc4c6a4b);
        

        marker_f2fbc581fa66eef208d4456fe5ff4bcc.bindPopup(popup_f9470da9e0180fb26abb48ecb365168e)
        ;

        
    
    
            var marker_422fdb67a7cf2433c4df7176c85eaee8 = L.marker(
                [30.478409, -97.8004323],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_8c14ce67ac015d3c4b7bdd79ca4756d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_422fdb67a7cf2433c4df7176c85eaee8.setIcon(icon_8c14ce67ac015d3c4b7bdd79ca4756d4);
        
    
        var popup_ec08b1c0e46ab682ad33b3d7d80dd4af = L.popup({"maxWidth": 300});

        
            var html_c2e4bee9a159e8c85bdc345bd8c23484 = $(`<div id="html_c2e4bee9a159e8c85bdc345bd8c23484" style="width: 100.0%; height: 100.0%;">Closest bus stop: Lakeline/US 183.<br>Name of POI: Teapioca.<br>Type of POI: cafe.<br>Bus journey: 12 minutes.</div>`)[0];
            popup_ec08b1c0e46ab682ad33b3d7d80dd4af.setContent(html_c2e4bee9a159e8c85bdc345bd8c23484);
        

        marker_422fdb67a7cf2433c4df7176c85eaee8.bindPopup(popup_ec08b1c0e46ab682ad33b3d7d80dd4af)
        ;

        
    
    
            var marker_afd4422dcef3e36d07018bb95812306a = L.marker(
                [30.4797523, -97.7998882],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_d30857cb2e177e033053a3e44da11c85 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_afd4422dcef3e36d07018bb95812306a.setIcon(icon_d30857cb2e177e033053a3e44da11c85);
        
    
        var popup_daa401156443542dc712f8acc7812aad = L.popup({"maxWidth": 300});

        
            var html_645e9ea6d494f2bc3c85ae71ad1829f2 = $(`<div id="html_645e9ea6d494f2bc3c85ae71ad1829f2" style="width: 100.0%; height: 100.0%;">Closest bus stop: Lakeline/US 183.<br>Name of POI: Banh Mi Galang.<br>Type of POI: restaurant.<br>Bus journey: 12 minutes.</div>`)[0];
            popup_daa401156443542dc712f8acc7812aad.setContent(html_645e9ea6d494f2bc3c85ae71ad1829f2);
        

        marker_afd4422dcef3e36d07018bb95812306a.bindPopup(popup_daa401156443542dc712f8acc7812aad)
        ;

        
    
    
            var marker_fff8538efdf289370085971a13563262 = L.marker(
                [30.4794407, -97.7998915],
                {}
            ).addTo(map_9ec3a3cb2ef4b1721d83e9bb1fe311f5);
        
    
            var icon_c501dc4a99a8fa4788284041708a2dbb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_fff8538efdf289370085971a13563262.setIcon(icon_c501dc4a99a8fa4788284041708a2dbb);
        
    
        var popup_dc5efcd4a32fc74846d8aec5ad65d9ce = L.popup({"maxWidth": 300});

        
            var html_7b4df8ae5ece3e3b1a02a959ca5ac9bf = $(`<div id="html_7b4df8ae5ece3e3b1a02a959ca5ac9bf" style="width: 100.0%; height: 100.0%;">Closest bus stop: Lakeline/US 183.<br>Name of POI: 85°C.<br>Type of POI: cafe.<br>Bus journey: 12 minutes.</div>`)[0];
            popup_dc5efcd4a32fc74846d8aec5ad65d9ce.setContent(html_7b4df8ae5ece3e3b1a02a959ca5ac9bf);
        

        marker_fff8538efdf289370085971a13563262.bindPopup(popup_dc5efcd4a32fc74846d8aec5ad65d9ce)
        ;

        
    
</script>