<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d209772b4e65abdcb1234fd6c0dce714 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d209772b4e65abdcb1234fd6c0dce714" ></div>
        
</body>
<script>
    
    
            var map_d209772b4e65abdcb1234fd6c0dce714 = L.map(
                "map_d209772b4e65abdcb1234fd6c0dce714",
                {
                    center: [30.369704, -97.716323],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_947a96ec54cd2127893243d559a706bd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var marker_2b924e80e4225b2572e48bab36aa9ee4 = L.marker(
                [30.369704, -97.716323],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_91a7affce2670da135b99abfe3160d9d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_2b924e80e4225b2572e48bab36aa9ee4.setIcon(icon_91a7affce2670da135b99abfe3160d9d);
        
    
        var popup_3066a0708426a0714a933e4b3ae43262 = L.popup({"maxWidth": 300});

        
            
                var html_cae462cda42279097b46a9dab06ad2c7 = $(`<div id="html_cae462cda42279097b46a9dab06ad2c7" style="width: 100.0%; height: 100.0%;">1830 Colony Creek/Northgate</div>`)[0];
                popup_3066a0708426a0714a933e4b3ae43262.setContent(html_cae462cda42279097b46a9dab06ad2c7);
            
        

        marker_2b924e80e4225b2572e48bab36aa9ee4.bindPopup(popup_3066a0708426a0714a933e4b3ae43262)
        ;

        
    
    
            var marker_be13244e1d2870f54354354d89447deb = L.marker(
                [30.371518, -97.715819],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_f63678c8f6e5497b8e5441f543cbb8e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_be13244e1d2870f54354354d89447deb.setIcon(icon_f63678c8f6e5497b8e5441f543cbb8e0);
        
    
        var popup_6d7f77bdbc7c6ae1e360d7b6415ca0dd = L.popup({"maxWidth": 300});

        
            
                var html_8431fc2890eccbfd9e31f691ed687e8b = $(`<div id="html_8431fc2890eccbfd9e31f691ed687e8b" style="width: 100.0%; height: 100.0%;">Northgate/Rundberg</div>`)[0];
                popup_6d7f77bdbc7c6ae1e360d7b6415ca0dd.setContent(html_8431fc2890eccbfd9e31f691ed687e8b);
            
        

        marker_be13244e1d2870f54354354d89447deb.bindPopup(popup_6d7f77bdbc7c6ae1e360d7b6415ca0dd)
        ;

        
    
    
            var marker_aad0c132a28d278e65139d9d29197ebd = L.marker(
                [30.370161, -97.712704],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_10b1bd4196d43e274510cf57b6d5a8ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_aad0c132a28d278e65139d9d29197ebd.setIcon(icon_10b1bd4196d43e274510cf57b6d5a8ec);
        
    
        var popup_1c748467bb4e635e541f82890d408754 = L.popup({"maxWidth": 300});

        
            
                var html_39634c9c903bd229361f4987baa73cc9 = $(`<div id="html_39634c9c903bd229361f4987baa73cc9" style="width: 100.0%; height: 100.0%;">1709 Rundberg/Singing Quail</div>`)[0];
                popup_1c748467bb4e635e541f82890d408754.setContent(html_39634c9c903bd229361f4987baa73cc9);
            
        

        marker_aad0c132a28d278e65139d9d29197ebd.bindPopup(popup_1c748467bb4e635e541f82890d408754)
        ;

        
    
    
            var marker_604b9f718296a0cb5e584a521648b365 = L.marker(
                [30.371315, -97.709301],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_7cd2e514cc3ebd4be5bcde28117d1ff8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_604b9f718296a0cb5e584a521648b365.setIcon(icon_7cd2e514cc3ebd4be5bcde28117d1ff8);
        
    
        var popup_c1c3ce65f491dff7f356044e1187600d = L.popup({"maxWidth": 300});

        
            
                var html_6a1afb4e67118758a9b3602af84f881f = $(`<div id="html_6a1afb4e67118758a9b3602af84f881f" style="width: 100.0%; height: 100.0%;">9512 Mountain Quail/Rutland</div>`)[0];
                popup_c1c3ce65f491dff7f356044e1187600d.setContent(html_6a1afb4e67118758a9b3602af84f881f);
            
        

        marker_604b9f718296a0cb5e584a521648b365.bindPopup(popup_c1c3ce65f491dff7f356044e1187600d)
        ;

        
    
    
            var marker_468d7df1f39302ad439ee61953691b24 = L.marker(
                [30.375848, -97.705196],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_ca2aae64c04796147c3b976bb1fafafd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_468d7df1f39302ad439ee61953691b24.setIcon(icon_ca2aae64c04796147c3b976bb1fafafd);
        
    
        var popup_3453f98d4b266f27bb1a5c8a19fb29f5 = L.popup({"maxWidth": 300});

        
            
                var html_9e8a21e02cc65b43321209d369163810 = $(`<div id="html_9e8a21e02cc65b43321209d369163810" style="width: 100.0%; height: 100.0%;">10014 Mountain Quail/Mearns Meadow</div>`)[0];
                popup_3453f98d4b266f27bb1a5c8a19fb29f5.setContent(html_9e8a21e02cc65b43321209d369163810);
            
        

        marker_468d7df1f39302ad439ee61953691b24.bindPopup(popup_3453f98d4b266f27bb1a5c8a19fb29f5)
        ;

        
    
    
            var marker_9b8652ffcee02ff2471234263f54f915 = L.marker(
                [30.372298, -97.703382],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_3b58e3ff0a5ca151ae00d0c2b3470357 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_9b8652ffcee02ff2471234263f54f915.setIcon(icon_3b58e3ff0a5ca151ae00d0c2b3470357);
        
    
        var popup_a2321f62d6267e8e08abc38471869c31 = L.popup({"maxWidth": 300});

        
            
                var html_490c90dd9efe93de03be841eb56e2611 = $(`<div id="html_490c90dd9efe93de03be841eb56e2611" style="width: 100.0%; height: 100.0%;">1225 Mearns Meadow/Parkfield</div>`)[0];
                popup_a2321f62d6267e8e08abc38471869c31.setContent(html_490c90dd9efe93de03be841eb56e2611);
            
        

        marker_9b8652ffcee02ff2471234263f54f915.bindPopup(popup_a2321f62d6267e8e08abc38471869c31)
        ;

        
    
    
            var marker_982e01f843b01858b90a12698049cecd = L.marker(
                [30.366754, -97.70087],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_2ff55283b59854c6671fc099ea02a3cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_982e01f843b01858b90a12698049cecd.setIcon(icon_2ff55283b59854c6671fc099ea02a3cb);
        
    
        var popup_324256a55b4f7e7a5021997459da776c = L.popup({"maxWidth": 300});

        
            
                var html_fba314f263df7be6d3cefafdec213c2c = $(`<div id="html_fba314f263df7be6d3cefafdec213c2c" style="width: 100.0%; height: 100.0%;">1020 Mearns Meadow/Rutland</div>`)[0];
                popup_324256a55b4f7e7a5021997459da776c.setContent(html_fba314f263df7be6d3cefafdec213c2c);
            
        

        marker_982e01f843b01858b90a12698049cecd.bindPopup(popup_324256a55b4f7e7a5021997459da776c)
        ;

        
    
    
            var marker_d5e7c63fbbef4953b36aed68120f9c99 = L.marker(
                [30.3637, -97.69848],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_8d3816cdcf546e7d78bc5b581123fac5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_d5e7c63fbbef4953b36aed68120f9c99.setIcon(icon_8d3816cdcf546e7d78bc5b581123fac5);
        
    
        var popup_2fa94269c6280c2c9991afea54f18efb = L.popup({"maxWidth": 300});

        
            
                var html_366e4c3ad41b738cb2a5acd2de82f039 = $(`<div id="html_366e4c3ad41b738cb2a5acd2de82f039" style="width: 100.0%; height: 100.0%;">831 Rundberg/Quail Field</div>`)[0];
                popup_2fa94269c6280c2c9991afea54f18efb.setContent(html_366e4c3ad41b738cb2a5acd2de82f039);
            
        

        marker_d5e7c63fbbef4953b36aed68120f9c99.bindPopup(popup_2fa94269c6280c2c9991afea54f18efb)
        ;

        
    
    
            var marker_238912ad06eb583087f658e985ff4c91 = L.marker(
                [30.362762, -97.69653],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_d48a2b5d4d5aafb62b9dffd7d013cbaf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_238912ad06eb583087f658e985ff4c91.setIcon(icon_d48a2b5d4d5aafb62b9dffd7d013cbaf);
        
    
        var popup_a8f7c4e8a405de915649ea69841e10de = L.popup({"maxWidth": 300});

        
            
                var html_ef22cc281ec26e924729a11fd7937847 = $(`<div id="html_ef22cc281ec26e924729a11fd7937847" style="width: 100.0%; height: 100.0%;">Rundberg/Lamar</div>`)[0];
                popup_a8f7c4e8a405de915649ea69841e10de.setContent(html_ef22cc281ec26e924729a11fd7937847);
            
        

        marker_238912ad06eb583087f658e985ff4c91.bindPopup(popup_a8f7c4e8a405de915649ea69841e10de)
        ;

        
    
    
            var marker_0de88e72ee0c3df6fd2cbb867a045e4a = L.marker(
                [30.361569, -97.694541],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_af0ad096db7ca1b4f24bd218da16ff65 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_0de88e72ee0c3df6fd2cbb867a045e4a.setIcon(icon_af0ad096db7ca1b4f24bd218da16ff65);
        
    
        var popup_e130081eb9f8971ba7e60e7a35bc746f = L.popup({"maxWidth": 300});

        
            
                var html_425d1a7771219121247bc5f7eec99a34 = $(`<div id="html_425d1a7771219121247bc5f7eec99a34" style="width: 100.0%; height: 100.0%;">Rundberg/Slayton</div>`)[0];
                popup_e130081eb9f8971ba7e60e7a35bc746f.setContent(html_425d1a7771219121247bc5f7eec99a34);
            
        

        marker_0de88e72ee0c3df6fd2cbb867a045e4a.bindPopup(popup_e130081eb9f8971ba7e60e7a35bc746f)
        ;

        
    
    
            var marker_f8f0c7736fe26c41fb08d8ff9e95ebbc = L.marker(
                [30.360445, -97.693759],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_e880a02ee4859353580c71c06f1b1e6c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_f8f0c7736fe26c41fb08d8ff9e95ebbc.setIcon(icon_e880a02ee4859353580c71c06f1b1e6c);
        
    
        var popup_948e44feba6e5f1cada4149f63baf4bf = L.popup({"maxWidth": 300});

        
            
                var html_9836215531930e1f3f8320b43a0acc0b = $(`<div id="html_9836215531930e1f3f8320b43a0acc0b" style="width: 100.0%; height: 100.0%;">9306 Georgian/Rundberg</div>`)[0];
                popup_948e44feba6e5f1cada4149f63baf4bf.setContent(html_9836215531930e1f3f8320b43a0acc0b);
            
        

        marker_f8f0c7736fe26c41fb08d8ff9e95ebbc.bindPopup(popup_948e44feba6e5f1cada4149f63baf4bf)
        ;

        
    
    
            var marker_cd10784e92e3357dc361124c6eea166a = L.marker(
                [30.358478, -97.69499],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_7e0e7fc3f9472617c4ebad591ed1d5fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_cd10784e92e3357dc361124c6eea166a.setIcon(icon_7e0e7fc3f9472617c4ebad591ed1d5fe);
        
    
        var popup_e47f491aae57200e0927e74ac045940d = L.popup({"maxWidth": 300});

        
            
                var html_d6d4021b204c6cbcd3d38b976a73c3fd = $(`<div id="html_d6d4021b204c6cbcd3d38b976a73c3fd" style="width: 100.0%; height: 100.0%;">9100 Georgian/Fawnridge</div>`)[0];
                popup_e47f491aae57200e0927e74ac045940d.setContent(html_d6d4021b204c6cbcd3d38b976a73c3fd);
            
        

        marker_cd10784e92e3357dc361124c6eea166a.bindPopup(popup_e47f491aae57200e0927e74ac045940d)
        ;

        
    
    
            var marker_7ddde762eef10025608273420b97c552 = L.marker(
                [30.355832, -97.696474],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_5e91639640996f09d71bb6d710e3ef75 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_7ddde762eef10025608273420b97c552.setIcon(icon_5e91639640996f09d71bb6d710e3ef75);
        
    
        var popup_39706a3cc3ab08bece5c2e632f134513 = L.popup({"maxWidth": 300});

        
            
                var html_02b58a7c57bf53389e0b5cdfa04146f4 = $(`<div id="html_02b58a7c57bf53389e0b5cdfa04146f4" style="width: 100.0%; height: 100.0%;">Georgian/Home Pl.</div>`)[0];
                popup_39706a3cc3ab08bece5c2e632f134513.setContent(html_02b58a7c57bf53389e0b5cdfa04146f4);
            
        

        marker_7ddde762eef10025608273420b97c552.bindPopup(popup_39706a3cc3ab08bece5c2e632f134513)
        ;

        
    
    
            var marker_3a3ad5df929554a80010c6fbd9443b37 = L.marker(
                [30.353289, -97.699042],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_32179746577867a7498302f6e702b607 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_3a3ad5df929554a80010c6fbd9443b37.setIcon(icon_32179746577867a7498302f6e702b607);
        
    
        var popup_322ab2fe6a899bb0fc4494c923397233 = L.popup({"maxWidth": 300});

        
            
                var html_55166f6224079e052aa1af016ee921fe = $(`<div id="html_55166f6224079e052aa1af016ee921fe" style="width: 100.0%; height: 100.0%;">Georgian/Elliott</div>`)[0];
                popup_322ab2fe6a899bb0fc4494c923397233.setContent(html_55166f6224079e052aa1af016ee921fe);
            
        

        marker_3a3ad5df929554a80010c6fbd9443b37.bindPopup(popup_322ab2fe6a899bb0fc4494c923397233)
        ;

        
    
    
            var marker_f3ef4a21c94c2fed6943cfa87032b5ac = L.marker(
                [30.349752, -97.702016],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_a59e0091b44e9e4f81c50dce15a303aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_f3ef4a21c94c2fed6943cfa87032b5ac.setIcon(icon_a59e0091b44e9e4f81c50dce15a303aa);
        
    
        var popup_318dbff98cd363dbe0403cb668b3ce53 = L.popup({"maxWidth": 300});

        
            
                var html_0af38500492ce15c51d9557ca4873b71 = $(`<div id="html_0af38500492ce15c51d9557ca4873b71" style="width: 100.0%; height: 100.0%;">Georgian/Jennifer</div>`)[0];
                popup_318dbff98cd363dbe0403cb668b3ce53.setContent(html_0af38500492ce15c51d9557ca4873b71);
            
        

        marker_f3ef4a21c94c2fed6943cfa87032b5ac.bindPopup(popup_318dbff98cd363dbe0403cb668b3ce53)
        ;

        
    
    
            var marker_0919e86553da542940766c58730bbf67 = L.marker(
                [30.347697, -97.703234],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_f7d8a1b16f762dc8380585909a82d73a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_0919e86553da542940766c58730bbf67.setIcon(icon_f7d8a1b16f762dc8380585909a82d73a);
        
    
        var popup_f7bd9c47bbc2efa9696c3f2a2612f6e4 = L.popup({"maxWidth": 300});

        
            
                var html_b34eac0e5d34eba03e2eb5a071b5d2c6 = $(`<div id="html_b34eac0e5d34eba03e2eb5a071b5d2c6" style="width: 100.0%; height: 100.0%;">Georgian/Powell</div>`)[0];
                popup_f7bd9c47bbc2efa9696c3f2a2612f6e4.setContent(html_b34eac0e5d34eba03e2eb5a071b5d2c6);
            
        

        marker_0919e86553da542940766c58730bbf67.bindPopup(popup_f7bd9c47bbc2efa9696c3f2a2612f6e4)
        ;

        
    
    
            var marker_18fc6b791358c855cdf4fb59cf28407d = L.marker(
                [30.344902, -97.704659],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_45d7aee50429a7704a6ccfe48dfc42ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_18fc6b791358c855cdf4fb59cf28407d.setIcon(icon_45d7aee50429a7704a6ccfe48dfc42ce);
        
    
        var popup_dd4f34e01c3b9e3d19345adde63267fd = L.popup({"maxWidth": 300});

        
            
                var html_ab2fbb9757c9ffd237967385c40d2493 = $(`<div id="html_ab2fbb9757c9ffd237967385c40d2493" style="width: 100.0%; height: 100.0%;">8000 Georgian/Anderson</div>`)[0];
                popup_dd4f34e01c3b9e3d19345adde63267fd.setContent(html_ab2fbb9757c9ffd237967385c40d2493);
            
        

        marker_18fc6b791358c855cdf4fb59cf28407d.bindPopup(popup_dd4f34e01c3b9e3d19345adde63267fd)
        ;

        
    
    
            var marker_8b8ebbb4eb1765b7b4ff414f05289e7e = L.marker(
                [30.34336, -97.705878],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_2fbab24924f338130c6350c4bff20469 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_8b8ebbb4eb1765b7b4ff414f05289e7e.setIcon(icon_2fbab24924f338130c6350c4bff20469);
        
    
        var popup_377493ae1a03a18817e7eb5603b6af7c = L.popup({"maxWidth": 300});

        
            
                var html_4b2ea996bc532ec53c94e87f81d5e85c = $(`<div id="html_4b2ea996bc532ec53c94e87f81d5e85c" style="width: 100.0%; height: 100.0%;">7700 Northcrest/Anderson</div>`)[0];
                popup_377493ae1a03a18817e7eb5603b6af7c.setContent(html_4b2ea996bc532ec53c94e87f81d5e85c);
            
        

        marker_8b8ebbb4eb1765b7b4ff414f05289e7e.bindPopup(popup_377493ae1a03a18817e7eb5603b6af7c)
        ;

        
    
    
            var marker_4e39d8e9d325359a8e1f9dad70e819e9 = L.marker(
                [30.339681, -97.711761],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_2add14ba969d46bd7fc7bfb65e09fe42 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_4e39d8e9d325359a8e1f9dad70e819e9.setIcon(icon_2add14ba969d46bd7fc7bfb65e09fe42);
        
    
        var popup_97b231444a8e31e5491c4bc428a9bcbe = L.popup({"maxWidth": 300});

        
            
                var html_a4eba5b7ee5a807106ebb4fab309355e = $(`<div id="html_a4eba5b7ee5a807106ebb4fab309355e" style="width: 100.0%; height: 100.0%;">Crestland/Meadowview</div>`)[0];
                popup_97b231444a8e31e5491c4bc428a9bcbe.setContent(html_a4eba5b7ee5a807106ebb4fab309355e);
            
        

        marker_4e39d8e9d325359a8e1f9dad70e819e9.bindPopup(popup_97b231444a8e31e5491c4bc428a9bcbe)
        ;

        
    
    
            var marker_fc16bc7b8ea3ba89cfcd481a8c51d88f = L.marker(
                [30.339901, -97.713146],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_e188e4a9f0ac9c3c79ae03aca4ec6e69 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_fc16bc7b8ea3ba89cfcd481a8c51d88f.setIcon(icon_e188e4a9f0ac9c3c79ae03aca4ec6e69);
        
    
        var popup_e826278bdc0d933c7440e3cbd04f2075 = L.popup({"maxWidth": 300});

        
            
                var html_9db36abc78a49e57ad98258378f51857 = $(`<div id="html_9db36abc78a49e57ad98258378f51857" style="width: 100.0%; height: 100.0%;">7414 Guadalupe/Crestland</div>`)[0];
                popup_e826278bdc0d933c7440e3cbd04f2075.setContent(html_9db36abc78a49e57ad98258378f51857);
            
        

        marker_fc16bc7b8ea3ba89cfcd481a8c51d88f.bindPopup(popup_e826278bdc0d933c7440e3cbd04f2075)
        ;

        
    
    
            var marker_7a29768d476f61d4ce0c53951da90a1e = L.marker(
                [30.337324, -97.714833],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_c9b54be553ccf6cd02a54407c43d19b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_7a29768d476f61d4ce0c53951da90a1e.setIcon(icon_c9b54be553ccf6cd02a54407c43d19b0);
        
    
        var popup_86280cbea361a179eb907e59de828560 = L.popup({"maxWidth": 300});

        
            
                var html_c9103539e1cc92e1218e5b8976bbd443 = $(`<div id="html_c9103539e1cc92e1218e5b8976bbd443" style="width: 100.0%; height: 100.0%;">7106 Guadalupe/St Johns</div>`)[0];
                popup_86280cbea361a179eb907e59de828560.setContent(html_c9103539e1cc92e1218e5b8976bbd443);
            
        

        marker_7a29768d476f61d4ce0c53951da90a1e.bindPopup(popup_86280cbea361a179eb907e59de828560)
        ;

        
    
    
            var marker_33771cbef6e74f7df97a1fa4655148c9 = L.marker(
                [30.335705, -97.715903],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_f38b8a1042cc58a9b30343ec6c2051e4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_33771cbef6e74f7df97a1fa4655148c9.setIcon(icon_f38b8a1042cc58a9b30343ec6c2051e4);
        
    
        var popup_b84d096d3343d45e06f27dcf96bdc03e = L.popup({"maxWidth": 300});

        
            
                var html_06343ea34d510b76a0afeeea1f540f3e = $(`<div id="html_06343ea34d510b76a0afeeea1f540f3e" style="width: 100.0%; height: 100.0%;">Guadalupe/Swanee</div>`)[0];
                popup_b84d096d3343d45e06f27dcf96bdc03e.setContent(html_06343ea34d510b76a0afeeea1f540f3e);
            
        

        marker_33771cbef6e74f7df97a1fa4655148c9.bindPopup(popup_b84d096d3343d45e06f27dcf96bdc03e)
        ;

        
    
    
            var marker_5cff10e291b550d6147c5d82000889fd = L.marker(
                [30.333155, -97.716673],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_220f572299be30e6a6be12295af10ae6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_5cff10e291b550d6147c5d82000889fd.setIcon(icon_220f572299be30e6a6be12295af10ae6);
        
    
        var popup_5032b0fcb36c45957fe15c95e1c459d3 = L.popup({"maxWidth": 300});

        
            
                var html_f8a040bb7b000122c9d0134ac322e7b9 = $(`<div id="html_f8a040bb7b000122c9d0134ac322e7b9" style="width: 100.0%; height: 100.0%;">Airport/Guadalupe</div>`)[0];
                popup_5032b0fcb36c45957fe15c95e1c459d3.setContent(html_f8a040bb7b000122c9d0134ac322e7b9);
            
        

        marker_5cff10e291b550d6147c5d82000889fd.bindPopup(popup_5032b0fcb36c45957fe15c95e1c459d3)
        ;

        
    
    
            var marker_6bfd3186a32ee8c240a1c459b3d5bb9a = L.marker(
                [30.328491, -97.713603],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_f5f11758b8d9c4841bc97ad0524f4c00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_6bfd3186a32ee8c240a1c459b3d5bb9a.setIcon(icon_f5f11758b8d9c4841bc97ad0524f4c00);
        
    
        var popup_01804fa5a5de8ede97386c9542131641 = L.popup({"maxWidth": 300});

        
            
                var html_aaaaeb807ae8ebbe0c7e1c54d2961138 = $(`<div id="html_aaaaeb807ae8ebbe0c7e1c54d2961138" style="width: 100.0%; height: 100.0%;">105 Highland Mall/Jonathan</div>`)[0];
                popup_01804fa5a5de8ede97386c9542131641.setContent(html_aaaaeb807ae8ebbe0c7e1c54d2961138);
            
        

        marker_6bfd3186a32ee8c240a1c459b3d5bb9a.bindPopup(popup_01804fa5a5de8ede97386c9542131641)
        ;

        
    
    
            var marker_59b0d9445da7793da05647d7df978be9 = L.marker(
                [30.36326382807447, -97.69848681728851],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_48b9281460a374ce794e0290911e4664 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "book", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_59b0d9445da7793da05647d7df978be9.setIcon(icon_48b9281460a374ce794e0290911e4664);
        
    
        var popup_1fd072443fe5f753a3f5594a8a89b8b3 = L.popup({"maxWidth": 300});

        
            
                var html_2507ba1d42bf78e42ec1b2acb11194f0 = $(`<div id="html_2507ba1d42bf78e42ec1b2acb11194f0" style="width: 100.0%; height: 100.0%;">Closest bus stop: 831 Rundberg/Quail Field.<br>Name of POI: Austin Public Library - Little Walnut Creek Branch.<br>Type of POI: library.<br>Bus journey: 8 minutes.</div>`)[0];
                popup_1fd072443fe5f753a3f5594a8a89b8b3.setContent(html_2507ba1d42bf78e42ec1b2acb11194f0);
            
        

        marker_59b0d9445da7793da05647d7df978be9.bindPopup(popup_1fd072443fe5f753a3f5594a8a89b8b3)
        ;

        
    
    
            var marker_e722e4a5958f2409750e8dd2479560c5 = L.marker(
                [30.3641562, -97.6960244],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_bd470d1ab1acdc9bca3f27645726c863 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e722e4a5958f2409750e8dd2479560c5.setIcon(icon_bd470d1ab1acdc9bca3f27645726c863);
        
    
        var popup_f110a7283cc437700fce28ee30c02d96 = L.popup({"maxWidth": 300});

        
            
                var html_dbfed78fb528195637b802f945cf36d1 = $(`<div id="html_dbfed78fb528195637b802f945cf36d1" style="width: 100.0%; height: 100.0%;">Closest bus stop: Rundberg/Lamar.<br>Name of POI: El Tacolote.<br>Type of POI: restaurant.<br>Bus journey: 9 minutes.</div>`)[0];
                popup_f110a7283cc437700fce28ee30c02d96.setContent(html_dbfed78fb528195637b802f945cf36d1);
            
        

        marker_e722e4a5958f2409750e8dd2479560c5.bindPopup(popup_f110a7283cc437700fce28ee30c02d96)
        ;

        
    
    
            var marker_4570fec530e5e42f0f976369c6df72dc = L.marker(
                [30.3612122, -97.6986],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_6ed07eb79fc8b124c3589469f9164b37 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4570fec530e5e42f0f976369c6df72dc.setIcon(icon_6ed07eb79fc8b124c3589469f9164b37);
        
    
        var popup_a6cd597af214505573df64b9783f0836 = L.popup({"maxWidth": 300});

        
            
                var html_0e95abcd8cd9cf4967cf998961ae5057 = $(`<div id="html_0e95abcd8cd9cf4967cf998961ae5057" style="width: 100.0%; height: 100.0%;">Closest bus stop: Rundberg/Lamar.<br>Name of POI: Thanh Nhi Kitchen.<br>Type of POI: restaurant.<br>Bus journey: 9 minutes.</div>`)[0];
                popup_a6cd597af214505573df64b9783f0836.setContent(html_0e95abcd8cd9cf4967cf998961ae5057);
            
        

        marker_4570fec530e5e42f0f976369c6df72dc.bindPopup(popup_a6cd597af214505573df64b9783f0836)
        ;

        
    
    
            var marker_33452db25194594ac80e188cbece31b3 = L.marker(
                [30.36326382807447, -97.69848681728851],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_227e717f5bc3a0ba75da1769f999a99a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "book", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_33452db25194594ac80e188cbece31b3.setIcon(icon_227e717f5bc3a0ba75da1769f999a99a);
        
    
        var popup_bb7aba8daf0af9f9353d966440011fe2 = L.popup({"maxWidth": 300});

        
            
                var html_00a9317c4e562edbdcf9595b1dbfd3ee = $(`<div id="html_00a9317c4e562edbdcf9595b1dbfd3ee" style="width: 100.0%; height: 100.0%;">Closest bus stop: Rundberg/Lamar.<br>Name of POI: Austin Public Library - Little Walnut Creek Branch.<br>Type of POI: library.<br>Bus journey: 9 minutes.</div>`)[0];
                popup_bb7aba8daf0af9f9353d966440011fe2.setContent(html_00a9317c4e562edbdcf9595b1dbfd3ee);
            
        

        marker_33452db25194594ac80e188cbece31b3.bindPopup(popup_bb7aba8daf0af9f9353d966440011fe2)
        ;

        
    
    
            var marker_5f6a253adbab5d87e6091ff307b37df2 = L.marker(
                [30.3436319, -97.7060642],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_40ad6415c40db87da2a6ca9ba0d97222 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5f6a253adbab5d87e6091ff307b37df2.setIcon(icon_40ad6415c40db87da2a6ca9ba0d97222);
        
    
        var popup_eb643cad695f65687186dd9319d68526 = L.popup({"maxWidth": 300});

        
            
                var html_79cdf18cb1c8d66462a560b5dd246a91 = $(`<div id="html_79cdf18cb1c8d66462a560b5dd246a91" style="width: 100.0%; height: 100.0%;">Closest bus stop: 8000 Georgian/Anderson.<br>Name of POI: Red Lobster.<br>Type of POI: restaurant.<br>Bus journey: 17 minutes.</div>`)[0];
                popup_eb643cad695f65687186dd9319d68526.setContent(html_79cdf18cb1c8d66462a560b5dd246a91);
            
        

        marker_5f6a253adbab5d87e6091ff307b37df2.bindPopup(popup_eb643cad695f65687186dd9319d68526)
        ;

        
    
    
            var marker_5d7cbe8c25c5df0c1dbd45b0fe5cda56 = L.marker(
                [30.34361396847514, -97.70386622088425],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_3fe8ead308a16a8000da41b466bfcfe1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5d7cbe8c25c5df0c1dbd45b0fe5cda56.setIcon(icon_3fe8ead308a16a8000da41b466bfcfe1);
        
    
        var popup_0b8bb54c81109cc56bbf8f7a7d54104f = L.popup({"maxWidth": 300});

        
            
                var html_5cf17383144d0823fdf9f494ba112f20 = $(`<div id="html_5cf17383144d0823fdf9f494ba112f20" style="width: 100.0%; height: 100.0%;">Closest bus stop: 8000 Georgian/Anderson.<br>Name of POI: La Capital Del Marisco.<br>Type of POI: restaurant.<br>Bus journey: 17 minutes.</div>`)[0];
                popup_0b8bb54c81109cc56bbf8f7a7d54104f.setContent(html_5cf17383144d0823fdf9f494ba112f20);
            
        

        marker_5d7cbe8c25c5df0c1dbd45b0fe5cda56.bindPopup(popup_0b8bb54c81109cc56bbf8f7a7d54104f)
        ;

        
    
    
            var marker_e003cad7403a12e9b8b27bc618bc845d = L.marker(
                [30.3442633, -97.7070008],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_824f9c1b48445acc55c75ced785320c1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "institution", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_e003cad7403a12e9b8b27bc618bc845d.setIcon(icon_824f9c1b48445acc55c75ced785320c1);
        
    
        var popup_00905693dd56d1bdc85d9c1d616993a6 = L.popup({"maxWidth": 300});

        
            
                var html_ee16150f0515d24f7eb77edc08df6347 = $(`<div id="html_ee16150f0515d24f7eb77edc08df6347" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7700 Northcrest/Anderson.<br>Name of POI: Eckankar Center of Austin.<br>Type of POI: place_of_worship.<br>Bus journey: 18 minutes.</div>`)[0];
                popup_00905693dd56d1bdc85d9c1d616993a6.setContent(html_ee16150f0515d24f7eb77edc08df6347);
            
        

        marker_e003cad7403a12e9b8b27bc618bc845d.bindPopup(popup_00905693dd56d1bdc85d9c1d616993a6)
        ;

        
    
    
            var marker_5e33a54490308f785a5218b456954ac0 = L.marker(
                [30.3436319, -97.7060642],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_eb07b567800843de618044bc554ff18e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5e33a54490308f785a5218b456954ac0.setIcon(icon_eb07b567800843de618044bc554ff18e);
        
    
        var popup_25a72a55d44d8d3fbd6c2c6f6b7ed46d = L.popup({"maxWidth": 300});

        
            
                var html_cb00490a66bb8622ec95e58647d4afb1 = $(`<div id="html_cb00490a66bb8622ec95e58647d4afb1" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7700 Northcrest/Anderson.<br>Name of POI: Red Lobster.<br>Type of POI: restaurant.<br>Bus journey: 18 minutes.</div>`)[0];
                popup_25a72a55d44d8d3fbd6c2c6f6b7ed46d.setContent(html_cb00490a66bb8622ec95e58647d4afb1);
            
        

        marker_5e33a54490308f785a5218b456954ac0.bindPopup(popup_25a72a55d44d8d3fbd6c2c6f6b7ed46d)
        ;

        
    
    
            var marker_2fb1073811a4d9d0fb428da35d13fb12 = L.marker(
                [30.34431847025065, -97.70774883778067],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_c544690d3f290a1693f9277832ddb29f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "institution", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_2fb1073811a4d9d0fb428da35d13fb12.setIcon(icon_c544690d3f290a1693f9277832ddb29f);
        
    
        var popup_65f262e9e2c84ffb911f5f1513d72aed = L.popup({"maxWidth": 300});

        
            
                var html_46b254719148a0533bfe4e3f47a70a1b = $(`<div id="html_46b254719148a0533bfe4e3f47a70a1b" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7700 Northcrest/Anderson.<br>Name of POI: Lord's Church of Austin.<br>Type of POI: place_of_worship.<br>Bus journey: 18 minutes.</div>`)[0];
                popup_65f262e9e2c84ffb911f5f1513d72aed.setContent(html_46b254719148a0533bfe4e3f47a70a1b);
            
        

        marker_2fb1073811a4d9d0fb428da35d13fb12.bindPopup(popup_65f262e9e2c84ffb911f5f1513d72aed)
        ;

        
    
    
            var marker_dcbe1a113c234cdedd31dece071a1c76 = L.marker(
                [30.34361396847514, -97.70386622088425],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_264548441278034972a84c2b3e6e23ee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_dcbe1a113c234cdedd31dece071a1c76.setIcon(icon_264548441278034972a84c2b3e6e23ee);
        
    
        var popup_78922200cb0e7b04f37958e8c9c93207 = L.popup({"maxWidth": 300});

        
            
                var html_9b931a61d474225212e727d30a875461 = $(`<div id="html_9b931a61d474225212e727d30a875461" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7700 Northcrest/Anderson.<br>Name of POI: La Capital Del Marisco.<br>Type of POI: restaurant.<br>Bus journey: 18 minutes.</div>`)[0];
                popup_78922200cb0e7b04f37958e8c9c93207.setContent(html_9b931a61d474225212e727d30a875461);
            
        

        marker_dcbe1a113c234cdedd31dece071a1c76.bindPopup(popup_78922200cb0e7b04f37958e8c9c93207)
        ;

        
    
    
            var marker_093d803a73d5c97e6940aa054f9c81a5 = L.marker(
                [30.3365663, -97.7166696],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_29cda3dbe4220c42a1cc3fa9b528cb78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_093d803a73d5c97e6940aa054f9c81a5.setIcon(icon_29cda3dbe4220c42a1cc3fa9b528cb78);
        
    
        var popup_252d490bd06e404ea38920dbe90b87b5 = L.popup({"maxWidth": 300});

        
            
                var html_a9554c64197a5d0b7d5c3ddb679b95c9 = $(`<div id="html_a9554c64197a5d0b7d5c3ddb679b95c9" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7106 Guadalupe/St Johns.<br>Name of POI: Steamies Dumplings.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_252d490bd06e404ea38920dbe90b87b5.setContent(html_a9554c64197a5d0b7d5c3ddb679b95c9);
            
        

        marker_093d803a73d5c97e6940aa054f9c81a5.bindPopup(popup_252d490bd06e404ea38920dbe90b87b5)
        ;

        
    
    
            var marker_3c16e9a8bb728628f1744f8be280761c = L.marker(
                [30.3364058, -97.7167081],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_6b6cf67680b4851c70c0a92ec4caa27f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_3c16e9a8bb728628f1744f8be280761c.setIcon(icon_6b6cf67680b4851c70c0a92ec4caa27f);
        
    
        var popup_091588be5c91abe1f9a9b2584c39c478 = L.popup({"maxWidth": 300});

        
            
                var html_bb919b7c62fe7b5fa73a3f48d86dc169 = $(`<div id="html_bb919b7c62fe7b5fa73a3f48d86dc169" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7106 Guadalupe/St Johns.<br>Name of POI: bb.q Chicken & Pub.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_091588be5c91abe1f9a9b2584c39c478.setContent(html_bb919b7c62fe7b5fa73a3f48d86dc169);
            
        

        marker_3c16e9a8bb728628f1744f8be280761c.bindPopup(popup_091588be5c91abe1f9a9b2584c39c478)
        ;

        
    
    
            var marker_042685061181ff8c53ff32b15fa2e4a8 = L.marker(
                [30.336657, -97.7166085],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_f68eaa97f2de6b2b0d518a92daa0f65c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_042685061181ff8c53ff32b15fa2e4a8.setIcon(icon_f68eaa97f2de6b2b0d518a92daa0f65c);
        
    
        var popup_c32c01d485015b4c41d041d9e3d6429b = L.popup({"maxWidth": 300});

        
            
                var html_04645ea44f2727d4c71a86cb018ce871 = $(`<div id="html_04645ea44f2727d4c71a86cb018ce871" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7106 Guadalupe/St Johns.<br>Name of POI: Sazan Ramen.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_c32c01d485015b4c41d041d9e3d6429b.setContent(html_04645ea44f2727d4c71a86cb018ce871);
            
        

        marker_042685061181ff8c53ff32b15fa2e4a8.bindPopup(popup_c32c01d485015b4c41d041d9e3d6429b)
        ;

        
    
    
            var marker_4a3aaac038fda3d173677e19c94aa528 = L.marker(
                [30.3368926, -97.7166016],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_0fdb09147171f5e4539f2b97aafd21ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4a3aaac038fda3d173677e19c94aa528.setIcon(icon_0fdb09147171f5e4539f2b97aafd21ff);
        
    
        var popup_7e46cd76b843de8b80effa8efbf5f72c = L.popup({"maxWidth": 300});

        
            
                var html_57a65753f73d5d321767c2bbffb35d5b = $(`<div id="html_57a65753f73d5d321767c2bbffb35d5b" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7106 Guadalupe/St Johns.<br>Name of POI: Snow Ball Rice Ball.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_7e46cd76b843de8b80effa8efbf5f72c.setContent(html_57a65753f73d5d321767c2bbffb35d5b);
            
        

        marker_4a3aaac038fda3d173677e19c94aa528.bindPopup(popup_7e46cd76b843de8b80effa8efbf5f72c)
        ;

        
    
    
            var marker_9b11e055019f2d28c89fae70db28cc14 = L.marker(
                [30.3370306, -97.7166443],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_b6b392c3c40d96fc9a5ce440eb7a2abd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_9b11e055019f2d28c89fae70db28cc14.setIcon(icon_b6b392c3c40d96fc9a5ce440eb7a2abd);
        
    
        var popup_45b5a1435bca8c8e7b268571d6b42ab0 = L.popup({"maxWidth": 300});

        
            
                var html_403a7de2c3653e49480764db6bcb4b73 = $(`<div id="html_403a7de2c3653e49480764db6bcb4b73" style="width: 100.0%; height: 100.0%;">Closest bus stop: 7106 Guadalupe/St Johns.<br>Name of POI: Texas Oh K-Dog and Egg toast.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_45b5a1435bca8c8e7b268571d6b42ab0.setContent(html_403a7de2c3653e49480764db6bcb4b73);
            
        

        marker_9b11e055019f2d28c89fae70db28cc14.bindPopup(popup_45b5a1435bca8c8e7b268571d6b42ab0)
        ;

        
    
    
            var marker_91ad5891b54207ff32d783e04dff36a7 = L.marker(
                [30.3340239, -97.7165374],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_97e3f75afa421c3fa0eb67624e86e79c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_91ad5891b54207ff32d783e04dff36a7.setIcon(icon_97e3f75afa421c3fa0eb67624e86e79c);
        
    
        var popup_2822e3525babf8723e8eafd9948814dc = L.popup({"maxWidth": 300});

        
            
                var html_d3c381ca0e8e4858612697678d380c14 = $(`<div id="html_d3c381ca0e8e4858612697678d380c14" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: China Family.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_2822e3525babf8723e8eafd9948814dc.setContent(html_d3c381ca0e8e4858612697678d380c14);
            
        

        marker_91ad5891b54207ff32d783e04dff36a7.bindPopup(popup_2822e3525babf8723e8eafd9948814dc)
        ;

        
    
    
            var marker_971f95a1190d109072d5ecb7b78ca289 = L.marker(
                [30.3365961, -97.717669],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_0746d6099ba5add05149dc87438b3931 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_971f95a1190d109072d5ecb7b78ca289.setIcon(icon_0746d6099ba5add05149dc87438b3931);
        
    
        var popup_ab40149e54d8e38fd57781e936ce87d6 = L.popup({"maxWidth": 300});

        
            
                var html_8e427fbbc84058e6c55e44c9ee24f3ce = $(`<div id="html_8e427fbbc84058e6c55e44c9ee24f3ce" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: 85°C.<br>Type of POI: cafe.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_ab40149e54d8e38fd57781e936ce87d6.setContent(html_8e427fbbc84058e6c55e44c9ee24f3ce);
            
        

        marker_971f95a1190d109072d5ecb7b78ca289.bindPopup(popup_ab40149e54d8e38fd57781e936ce87d6)
        ;

        
    
    
            var marker_f3da952122112847b9ef1c5e12ee385c = L.marker(
                [30.3365663, -97.7166696],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_05bdcb3307dd2149098de9cf38fc0bf9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f3da952122112847b9ef1c5e12ee385c.setIcon(icon_05bdcb3307dd2149098de9cf38fc0bf9);
        
    
        var popup_53d8c0472d741d149cd12851f2ac4349 = L.popup({"maxWidth": 300});

        
            
                var html_e79537d8c1bd79a2e8822915eaa5c704 = $(`<div id="html_e79537d8c1bd79a2e8822915eaa5c704" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: Steamies Dumplings.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_53d8c0472d741d149cd12851f2ac4349.setContent(html_e79537d8c1bd79a2e8822915eaa5c704);
            
        

        marker_f3da952122112847b9ef1c5e12ee385c.bindPopup(popup_53d8c0472d741d149cd12851f2ac4349)
        ;

        
    
    
            var marker_9b290b3e7a1c83e02d7d382828a75cc1 = L.marker(
                [30.3364816, -97.7172883],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_1bebfedbfc7d6481ae1308d9c97c18bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_9b290b3e7a1c83e02d7d382828a75cc1.setIcon(icon_1bebfedbfc7d6481ae1308d9c97c18bd);
        
    
        var popup_1e8d55d571ba0a6e91c375da9a451fd2 = L.popup({"maxWidth": 300});

        
            
                var html_a32790a58304057905a237f70283aec3 = $(`<div id="html_a32790a58304057905a237f70283aec3" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: K BBQ.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_1e8d55d571ba0a6e91c375da9a451fd2.setContent(html_a32790a58304057905a237f70283aec3);
            
        

        marker_9b290b3e7a1c83e02d7d382828a75cc1.bindPopup(popup_1e8d55d571ba0a6e91c375da9a451fd2)
        ;

        
    
    
            var marker_d52f39264bcbe74242cacba8d7a075cc = L.marker(
                [30.3364058, -97.7167081],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_928e7e79e55f2dbdb01ea1ddc43cb88d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d52f39264bcbe74242cacba8d7a075cc.setIcon(icon_928e7e79e55f2dbdb01ea1ddc43cb88d);
        
    
        var popup_a0ccfc9f549fc0756b636346cff5177e = L.popup({"maxWidth": 300});

        
            
                var html_8c569facce55ecef5d1a15d0faa65698 = $(`<div id="html_8c569facce55ecef5d1a15d0faa65698" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: bb.q Chicken & Pub.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_a0ccfc9f549fc0756b636346cff5177e.setContent(html_8c569facce55ecef5d1a15d0faa65698);
            
        

        marker_d52f39264bcbe74242cacba8d7a075cc.bindPopup(popup_a0ccfc9f549fc0756b636346cff5177e)
        ;

        
    
    
            var marker_6a87fd8cd34da07fa90df3c275a159d0 = L.marker(
                [30.336657, -97.7166085],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_262db55a083bcdd7b12e18bea60946d9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_6a87fd8cd34da07fa90df3c275a159d0.setIcon(icon_262db55a083bcdd7b12e18bea60946d9);
        
    
        var popup_31ea7094d0b05757a140e23c05ed4fb9 = L.popup({"maxWidth": 300});

        
            
                var html_1493ae97c134c167e207566222316f91 = $(`<div id="html_1493ae97c134c167e207566222316f91" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: Sazan Ramen.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_31ea7094d0b05757a140e23c05ed4fb9.setContent(html_1493ae97c134c167e207566222316f91);
            
        

        marker_6a87fd8cd34da07fa90df3c275a159d0.bindPopup(popup_31ea7094d0b05757a140e23c05ed4fb9)
        ;

        
    
    
            var marker_3610fd30b88ad7eb0656f354953b8cd6 = L.marker(
                [30.3368926, -97.7166016],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_65480678961add9cb7ab9416ff176d75 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_3610fd30b88ad7eb0656f354953b8cd6.setIcon(icon_65480678961add9cb7ab9416ff176d75);
        
    
        var popup_03f5b194b5eafab9363b6ee34c9a2fb2 = L.popup({"maxWidth": 300});

        
            
                var html_ed204dad20c9f610cffe1b829c975eff = $(`<div id="html_ed204dad20c9f610cffe1b829c975eff" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: Snow Ball Rice Ball.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_03f5b194b5eafab9363b6ee34c9a2fb2.setContent(html_ed204dad20c9f610cffe1b829c975eff);
            
        

        marker_3610fd30b88ad7eb0656f354953b8cd6.bindPopup(popup_03f5b194b5eafab9363b6ee34c9a2fb2)
        ;

        
    
    
            var marker_2622559b00a21f8271f6a5e929219c7b = L.marker(
                [30.3370306, -97.7166443],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_a90ef588841eabbe5147991cd16ea363 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_2622559b00a21f8271f6a5e929219c7b.setIcon(icon_a90ef588841eabbe5147991cd16ea363);
        
    
        var popup_081afd5b6dc96dc1ae78192a5e4b353d = L.popup({"maxWidth": 300});

        
            
                var html_464185e64af4f7f0cf981692413664be = $(`<div id="html_464185e64af4f7f0cf981692413664be" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: Texas Oh K-Dog and Egg toast.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_081afd5b6dc96dc1ae78192a5e4b353d.setContent(html_464185e64af4f7f0cf981692413664be);
            
        

        marker_2622559b00a21f8271f6a5e929219c7b.bindPopup(popup_081afd5b6dc96dc1ae78192a5e4b353d)
        ;

        
    
    
            var marker_4a0e11ff51aa0f7a513df3b77639c2fe = L.marker(
                [30.335978150000003, -97.71756395000001],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_568092e4f36049074d5bcee74b213c1a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4a0e11ff51aa0f7a513df3b77639c2fe.setIcon(icon_568092e4f36049074d5bcee74b213c1a);
        
    
        var popup_8894cd2d6724054d279c3cf0449ea572 = L.popup({"maxWidth": 300});

        
            
                var html_78e807519a6d0ea8b7ad7b01a0ae4efc = $(`<div id="html_78e807519a6d0ea8b7ad7b01a0ae4efc" style="width: 100.0%; height: 100.0%;">Closest bus stop: Guadalupe/Swanee.<br>Name of POI: Taqueria Los Jaliscienses.<br>Type of POI: restaurant.<br>Bus journey: 22 minutes.</div>`)[0];
                popup_8894cd2d6724054d279c3cf0449ea572.setContent(html_78e807519a6d0ea8b7ad7b01a0ae4efc);
            
        

        marker_4a0e11ff51aa0f7a513df3b77639c2fe.bindPopup(popup_8894cd2d6724054d279c3cf0449ea572)
        ;

        
    
    
            var marker_911d5633f8db60e292785077355964ef = L.marker(
                [30.3340239, -97.7165374],
                {}
            ).addTo(map_d209772b4e65abdcb1234fd6c0dce714);
        
    
            var icon_29e4fecdb9ce1df7ef4d03a3adf12b63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_911d5633f8db60e292785077355964ef.setIcon(icon_29e4fecdb9ce1df7ef4d03a3adf12b63);
        
    
        var popup_31475e922a00ad1bc527b59587848165 = L.popup({"maxWidth": 300});

        
            
                var html_fcd3160840592f6dd112df7b0f0656e5 = $(`<div id="html_fcd3160840592f6dd112df7b0f0656e5" style="width: 100.0%; height: 100.0%;">Closest bus stop: Airport/Guadalupe.<br>Name of POI: China Family.<br>Type of POI: restaurant.<br>Bus journey: 23 minutes.</div>`)[0];
                popup_31475e922a00ad1bc527b59587848165.setContent(html_fcd3160840592f6dd112df7b0f0656e5);
            
        

        marker_911d5633f8db60e292785077355964ef.bindPopup(popup_31475e922a00ad1bc527b59587848165)
        ;

        
    
</script>
</html>