<!DOCTYPE html>
<html>
<head>

    <title>One Bus</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <h1>Points of Interest (POI) Information</h1>
    <!-- Other content specific to the POI page -->

    
    <body>
        <!-- Use an iframe to display your map.html file -->
        <iframe src="templates/map.html" width="100%" height="600" frameborder="0"></iframe>
    </body>

    <!-- back button -->
    <a href="/"><button>Back</button></a>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
</body>
</html>
