<!DOCTYPE html>
<html>
<head>

    <title>One Bus</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/poi.css') }}">

</head>
<body>
    <h1 class="heading">Map of Places of Interest</h1>
    <!-- <div class="container"> test</div> -->
    <div class="map-container">
        {% include 'map.html' %}
    </div>
    
    <!-- back button -->

    <div class="button-container">
        <a href="/" class="button"><button>Back</button></a>
    </div>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
</body>
</html>
