<!DOCTYPE html>
<html>
<head>
    <title>One Bus</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loading.css') }}">
    
</head>
<body>
    <div class = "container">
    <h1>Select a Bus Stop</h1>
    <div class = "form-container">
    <form method="POST">
        <label for="bus_stop_selection">Bus stop:</label>
        <select name="bus_stop" id="bus_stops-dropdown">
            {% for bus_stop in result %}
                <option value="{{ bus_stop }}">{{ bus_stop }}</option>
            {% endfor %}
        </select>
        <label for="time">Departure Time:</label>
        <input type="time" id="time" name="time" value="12:00">
        <br>
        <div id="submission">
            <img src = "static/yuB.gif"> 
        </div>
        <input class="my-button" type="submit" value="Submit" onclick="loader()">
    </form>
</div>

    <a href="/"><button class="my-button">Back</button></a>
    </div>
    <script>
        $(document).ready(function () {
            $('#fruit-search').on('input', function () {
                var searchText = $(this).val().toLowerCase();
                $('#fruit-dropdown option').each(function () {
                    if ($(this).text().toLowerCase().indexOf(searchText) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
        
    </script>
    <script type="text/javascript">
        function loader(){
            document.getElementById("submission").style.display = "block";  
        }
    </script>
</body>
</html>
