body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/img/back1.jpg'); /* Adjust the path accordingly */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.form-container {
    background-color: rgba(255, 200, 255, 0.8);
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
}

/* Style for the clickable text */
#getLocationBtn {
    color: #45a049; /* Change the color to blue */
    text-decoration: underline; /* Underline the text */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.my-button:hover {
    background-color: #45a049;
}

.h1{
    font-size: 18px;
}