body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/img/back1.jpg'); /* Adjust the path accordingly */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.form-container {
    background-color: rgba(255, 200, 255, 0.8);
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    text-align: bottom;
    margin-top: 15px;
}

/* Style for the clickable text */
#getLocationBtn {
    color: #45a049; /* Change the color to blue */
    text-decoration: underline; /* Underline the text */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

#setLocationButton {
    color: #1215da; /* Change the color to blue */
    text-decoration: underline; /* Underline the text */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}


.my-button:hover {
    background-color: #45a049;
}

.h1{
    font-size: 18px;
}

.spoofButton-container {
    padding: 20px;
    border-radius: 10px 10px 0 0;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    text-align: center;
}
.spoofButton {
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    margin: 10px; /* Margin */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Centered text */
    cursor: pointer; /* Pointer/hand icon */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
    transition: background-color 0.3s ease; /* Transition for hover effect */
}

.spoofButton:hover {
    background-color: #0056b3;
    color: white;
}

.button-container {
    padding: 2px;
    border-radius: 2px;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
    text-align: center;
}