<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loading.css') }}">
</head>
<body>
    <div id="loading-screen">
        <div id="loading-spinner"></div>
    </div>

    <script>
        // You can add more custom loading animations here
    </script>
</body>
</html>
