<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0cea7cd3db37c9d50332d29ba99db0a4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_0cea7cd3db37c9d50332d29ba99db0a4" ></div>
        
</body>
<script>
    
    
            var map_0cea7cd3db37c9d50332d29ba99db0a4 = L.map(
                "map_0cea7cd3db37c9d50332d29ba99db0a4",
                {
                    center: [30.39698028564453, -97.75013732910156],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 16,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_b72b2cd638060f77bb9c8350adfd4ad7 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_b72b2cd638060f77bb9c8350adfd4ad7.addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var marker_e2d28e47ead9de1e728386bcbf7a0059 = L.marker(
                [30.39698028564453, -97.75013732910156],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_336ace7c73aef7cf2a41f3ccfbb96de9 = L.AwesomeMarkers.icon(
                {
  "markerColor": "darkblue",
  "iconColor": "white",
  "icon": "home",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0fe5fee132f18df625a179f411e18381 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_7f831e3448d10dc8d0eb1375850c5e88 = $(`<div id="html_7f831e3448d10dc8d0eb1375850c5e88" style="width: 100.0%; height: 100.0%;">10300 Jollyville/Great Hills</div>`)[0];
                popup_0fe5fee132f18df625a179f411e18381.setContent(html_7f831e3448d10dc8d0eb1375850c5e88);
            
        

        marker_e2d28e47ead9de1e728386bcbf7a0059.bindPopup(popup_0fe5fee132f18df625a179f411e18381)
        ;

        
    
    
                marker_e2d28e47ead9de1e728386bcbf7a0059.setIcon(icon_336ace7c73aef7cf2a41f3ccfbb96de9);
            
    
            var marker_ee31a5cf67309de13e66b9f4c7b35e29 = L.marker(
                [30.3940372467041, -97.74835205078125],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_2228dd27c92dbd4a64b973a4b9dda15c = L.AwesomeMarkers.icon(
                {
  "markerColor": "black",
  "iconColor": "white",
  "icon": "bus",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_908113bb6b03ad387cb6dbb47f9736ae = L.popup({
  "maxWidth": 300,
});

        
            
                var html_d185dc3bd8c68f6fd0b27d99ada82da7 = $(`<div id="html_d185dc3bd8c68f6fd0b27d99ada82da7" style="width: 100.0%; height: 100.0%;">9829 Great Hills/Jollyville</div>`)[0];
                popup_908113bb6b03ad387cb6dbb47f9736ae.setContent(html_d185dc3bd8c68f6fd0b27d99ada82da7);
            
        

        marker_ee31a5cf67309de13e66b9f4c7b35e29.bindPopup(popup_908113bb6b03ad387cb6dbb47f9736ae)
        ;

        
    
    
                marker_ee31a5cf67309de13e66b9f4c7b35e29.setIcon(icon_2228dd27c92dbd4a64b973a4b9dda15c);
            
    
            var marker_11260a47e300e175e08b7e5463b03401 = L.marker(
                [30.39333724975586, -97.74354553222656],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_3b298fc861a5f908ca3e99afdc21d89a = L.AwesomeMarkers.icon(
                {
  "markerColor": "black",
  "iconColor": "white",
  "icon": "bus",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1c5a0c2d2c0f2628cf3c181bb548fd93 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_2db87d071dd8888a2e5f8ff89825107a = $(`<div id="html_2db87d071dd8888a2e5f8ff89825107a" style="width: 100.0%; height: 100.0%;">10051 Great Hills/Research (Target)</div>`)[0];
                popup_1c5a0c2d2c0f2628cf3c181bb548fd93.setContent(html_2db87d071dd8888a2e5f8ff89825107a);
            
        

        marker_11260a47e300e175e08b7e5463b03401.bindPopup(popup_1c5a0c2d2c0f2628cf3c181bb548fd93)
        ;

        
    
    
                marker_11260a47e300e175e08b7e5463b03401.setIcon(icon_3b298fc861a5f908ca3e99afdc21d89a);
            
    
            var marker_ff353472c4ca2b485a1914517a3db796 = L.marker(
                [30.396735783753286, -97.74930352865478],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_bc4ac6321616323a24c486a35de00414 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_716ee49922104e388fe76621837b23bc = L.popup({
  "maxWidth": 300,
});

        
            
                var html_fb639b31fc46c0ab00276e2daf2afc0c = $(`<div id="html_fb639b31fc46c0ab00276e2daf2afc0c" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Manuel's.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_716ee49922104e388fe76621837b23bc.setContent(html_fb639b31fc46c0ab00276e2daf2afc0c);
            
        

        marker_ff353472c4ca2b485a1914517a3db796.bindPopup(popup_716ee49922104e388fe76621837b23bc)
        ;

        
    
    
                marker_ff353472c4ca2b485a1914517a3db796.setIcon(icon_bc4ac6321616323a24c486a35de00414);
            
    
            var marker_bd080bc64aea55ef542d83593b3bee18 = L.marker(
                [30.39454304934379, -97.74758061660229],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_1493d6e5f54132b19253738faad3bbdf = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_09f50047f5edcf49fc205c5eb6f2db64 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_ab3f0fe6c200f908efa0b062fe389423 = $(`<div id="html_ab3f0fe6c200f908efa0b062fe389423" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Romano's Macaroni Grill.<br>Type of POI: restaurant.<br>Bus journey: 1 minutes.</div>`)[0];
                popup_09f50047f5edcf49fc205c5eb6f2db64.setContent(html_ab3f0fe6c200f908efa0b062fe389423);
            
        

        marker_bd080bc64aea55ef542d83593b3bee18.bindPopup(popup_09f50047f5edcf49fc205c5eb6f2db64)
        ;

        
    
    
                marker_bd080bc64aea55ef542d83593b3bee18.setIcon(icon_1493d6e5f54132b19253738faad3bbdf);
            
    
            var marker_cb654dc4ae5a9067bef1dec89185116c = L.marker(
                [30.3950774, -97.7484716],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_a20d8b1ffb71ed2041e5dcb3542c8d98 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_38cdabc8fdca5bc39f9cc5ef622768f1 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_0fe8ed7065609906af7c197a0972d1ff = $(`<div id="html_0fe8ed7065609906af7c197a0972d1ff" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Honest Mary's.<br>Type of POI: restaurant.<br>Bus journey: 1 minutes.</div>`)[0];
                popup_38cdabc8fdca5bc39f9cc5ef622768f1.setContent(html_0fe8ed7065609906af7c197a0972d1ff);
            
        

        marker_cb654dc4ae5a9067bef1dec89185116c.bindPopup(popup_38cdabc8fdca5bc39f9cc5ef622768f1)
        ;

        
    
    
                marker_cb654dc4ae5a9067bef1dec89185116c.setIcon(icon_a20d8b1ffb71ed2041e5dcb3542c8d98);
            
    
            var marker_4b07f6d3005301adc5c05c18dd6bba1c = L.marker(
                [30.3950396, -97.7493683],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_594504ba1921bdbd9e091c9dfb62213d = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_990716092a7647451eac1ac8062bf7c2 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_f59f1dce52ef0ea3055eb34ca3e450f2 = $(`<div id="html_f59f1dce52ef0ea3055eb34ca3e450f2" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Modern Market.<br>Type of POI: restaurant.<br>Bus journey: 1 minutes.</div>`)[0];
                popup_990716092a7647451eac1ac8062bf7c2.setContent(html_f59f1dce52ef0ea3055eb34ca3e450f2);
            
        

        marker_4b07f6d3005301adc5c05c18dd6bba1c.bindPopup(popup_990716092a7647451eac1ac8062bf7c2)
        ;

        
    
    
                marker_4b07f6d3005301adc5c05c18dd6bba1c.setIcon(icon_594504ba1921bdbd9e091c9dfb62213d);
            
    
            var marker_4a62b974df01642ce5ff2935b77f94bd = L.marker(
                [30.398259, -97.7493286],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_48dfaaa6725fcbb6eb52576b6bd6070d = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_c269ae00a0ea15fcc1f753e573566ce5 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_4f25cb03f2c41dbb6c5fa46d473250d6 = $(`<div id="html_4f25cb03f2c41dbb6c5fa46d473250d6" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Mama Fu's.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_c269ae00a0ea15fcc1f753e573566ce5.setContent(html_4f25cb03f2c41dbb6c5fa46d473250d6);
            
        

        marker_4a62b974df01642ce5ff2935b77f94bd.bindPopup(popup_c269ae00a0ea15fcc1f753e573566ce5)
        ;

        
    
    
                marker_4a62b974df01642ce5ff2935b77f94bd.setIcon(icon_48dfaaa6725fcbb6eb52576b6bd6070d);
            
    
            var marker_1b84c40f474c9815623ed6d4da8f6dc6 = L.marker(
                [30.395526796938118, -97.75033808972469],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_011445ee31d49b4789cd0fcac58153d9 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_56c5d34bf4d0560b9ed4b28eed0dfd95 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_c660a21e7932e8c01f0c14aa50bfdfd9 = $(`<div id="html_c660a21e7932e8c01f0c14aa50bfdfd9" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: P.F. Chang's.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_56c5d34bf4d0560b9ed4b28eed0dfd95.setContent(html_c660a21e7932e8c01f0c14aa50bfdfd9);
            
        

        marker_1b84c40f474c9815623ed6d4da8f6dc6.bindPopup(popup_56c5d34bf4d0560b9ed4b28eed0dfd95)
        ;

        
    
    
                marker_1b84c40f474c9815623ed6d4da8f6dc6.setIcon(icon_011445ee31d49b4789cd0fcac58153d9);
            
    
            var marker_b7b3e93fd8e6707a0f83f6bf6fc21b8d = L.marker(
                [30.3952181, -97.7493734],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_2f51682bee2a337a9e69d840415ba17e = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "coffee",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a19e0d777ff7edd2cc170da9abe6b9a5 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_fd260d9a7ad27f236f1ccade102e3491 = $(`<div id="html_fd260d9a7ad27f236f1ccade102e3491" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: FireBowlCafe.<br>Type of POI: cafe.<br>Bus journey: 1 minutes.</div>`)[0];
                popup_a19e0d777ff7edd2cc170da9abe6b9a5.setContent(html_fd260d9a7ad27f236f1ccade102e3491);
            
        

        marker_b7b3e93fd8e6707a0f83f6bf6fc21b8d.bindPopup(popup_a19e0d777ff7edd2cc170da9abe6b9a5)
        ;

        
    
    
                marker_b7b3e93fd8e6707a0f83f6bf6fc21b8d.setIcon(icon_2f51682bee2a337a9e69d840415ba17e);
            
    
            var marker_a3541ddf3e0fa4c6f8eb743e612562fc = L.marker(
                [30.395831542236635, -97.74882798017838],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_25b2d88ac3776137826dbb1fc3607d37 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "film",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_baa12a43d04ffbc3f822fd07dcabf741 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_4c94a2b5d2e96fd9f70deac4b8f6ba4a = $(`<div id="html_4c94a2b5d2e96fd9f70deac4b8f6ba4a" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Arbor Cinema @ Great Hills.<br>Type of POI: cinema.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_baa12a43d04ffbc3f822fd07dcabf741.setContent(html_4c94a2b5d2e96fd9f70deac4b8f6ba4a);
            
        

        marker_a3541ddf3e0fa4c6f8eb743e612562fc.bindPopup(popup_baa12a43d04ffbc3f822fd07dcabf741)
        ;

        
    
    
                marker_a3541ddf3e0fa4c6f8eb743e612562fc.setIcon(icon_25b2d88ac3776137826dbb1fc3607d37);
            
    
            var marker_8774fc2648da98c9f6d8afe190d7d9b4 = L.marker(
                [30.3947997, -97.7444977],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_f57a750226f5fdd335740bc9c682b66d = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f8a324bb4dadbc62bc55a4201bfa878d = L.popup({
  "maxWidth": 300,
});

        
            
                var html_b4afe0076786d602126c56e14956bf62 = $(`<div id="html_b4afe0076786d602126c56e14956bf62" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10051 Great Hills/Research (Target).<br>Name of POI: Jason's Deli.<br>Type of POI: restaurant.<br>Bus journey: 2 minutes.</div>`)[0];
                popup_f8a324bb4dadbc62bc55a4201bfa878d.setContent(html_b4afe0076786d602126c56e14956bf62);
            
        

        marker_8774fc2648da98c9f6d8afe190d7d9b4.bindPopup(popup_f8a324bb4dadbc62bc55a4201bfa878d)
        ;

        
    
    
                marker_8774fc2648da98c9f6d8afe190d7d9b4.setIcon(icon_f57a750226f5fdd335740bc9c682b66d);
            
    
            var marker_eb664c6e5257b0aaec11d7eddf06ca49 = L.marker(
                [30.3987013, -97.7491029],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_df4f7290ca515c672fc4cfa37f1c507b = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "coffee",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_6bef3ef7eea205d9a70d82189d6e2da4 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_0055ea9d06956fef9a9d174e576e8f61 = $(`<div id="html_0055ea9d06956fef9a9d174e576e8f61" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Yogertz.<br>Type of POI: cafe.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_6bef3ef7eea205d9a70d82189d6e2da4.setContent(html_0055ea9d06956fef9a9d174e576e8f61);
            
        

        marker_eb664c6e5257b0aaec11d7eddf06ca49.bindPopup(popup_6bef3ef7eea205d9a70d82189d6e2da4)
        ;

        
    
    
                marker_eb664c6e5257b0aaec11d7eddf06ca49.setIcon(icon_df4f7290ca515c672fc4cfa37f1c507b);
            
    
            var marker_d9d808a0a2cffbbfdae7c7b3f03785f5 = L.marker(
                [30.3957428, -97.7472319],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_46fe52a5adeeb411032d0d85f98fb538 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_69e6aaabf2618916fcc0984422863304 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_e7081429a7f3bb37c128c204ae3f73de = $(`<div id="html_e7081429a7f3bb37c128c204ae3f73de" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: la Madeleine.<br>Type of POI: restaurant.<br>Bus journey: 1 minutes.</div>`)[0];
                popup_69e6aaabf2618916fcc0984422863304.setContent(html_e7081429a7f3bb37c128c204ae3f73de);
            
        

        marker_d9d808a0a2cffbbfdae7c7b3f03785f5.bindPopup(popup_69e6aaabf2618916fcc0984422863304)
        ;

        
    
    
                marker_d9d808a0a2cffbbfdae7c7b3f03785f5.setIcon(icon_46fe52a5adeeb411032d0d85f98fb538);
            
    
            var marker_2f56aa2b0a6e37ae968194cd4257ecb7 = L.marker(
                [30.3951748, -97.7510323],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_ff1ad9779dac6f7cf0626bb13431314c = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f986fccb7e0c9c3bf1a85542da9e266b = L.popup({
  "maxWidth": 300,
});

        
            
                var html_4057eae7d9f2049a230dc7509613eac9 = $(`<div id="html_4057eae7d9f2049a230dc7509613eac9" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Newk's.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_f986fccb7e0c9c3bf1a85542da9e266b.setContent(html_4057eae7d9f2049a230dc7509613eac9);
            
        

        marker_2f56aa2b0a6e37ae968194cd4257ecb7.bindPopup(popup_f986fccb7e0c9c3bf1a85542da9e266b)
        ;

        
    
    
                marker_2f56aa2b0a6e37ae968194cd4257ecb7.setIcon(icon_ff1ad9779dac6f7cf0626bb13431314c);
            
    
            var marker_13b2e2ef90476da8c9d510e5fb5cd075 = L.marker(
                [30.393758, -97.750673],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_44dda2bacb1a9eb86ce3cede7086883f = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "coffee",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a4bfa61f6ab2614e6c0cb30ff280684b = L.popup({
  "maxWidth": 300,
});

        
            
                var html_bd593ebfa727df501fac85dd040bb871 = $(`<div id="html_bd593ebfa727df501fac85dd040bb871" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Corner Bakery.<br>Type of POI: cafe.<br>Bus journey: 1 minutes.</div>`)[0];
                popup_a4bfa61f6ab2614e6c0cb30ff280684b.setContent(html_bd593ebfa727df501fac85dd040bb871);
            
        

        marker_13b2e2ef90476da8c9d510e5fb5cd075.bindPopup(popup_a4bfa61f6ab2614e6c0cb30ff280684b)
        ;

        
    
    
                marker_13b2e2ef90476da8c9d510e5fb5cd075.setIcon(icon_44dda2bacb1a9eb86ce3cede7086883f);
            
    
            var marker_bdcdbd8e724463f6571698bec88ebe3b = L.marker(
                [30.3988329, -97.7490667],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_7ab0c2da55625d0c37bd6fa5276a44cf = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b87ec0f9e31daf4e06a19891e5db728a = L.popup({
  "maxWidth": 300,
});

        
            
                var html_bb2068a76e5462aecb221f599a613348 = $(`<div id="html_bb2068a76e5462aecb221f599a613348" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Brick Oven.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_b87ec0f9e31daf4e06a19891e5db728a.setContent(html_bb2068a76e5462aecb221f599a613348);
            
        

        marker_bdcdbd8e724463f6571698bec88ebe3b.bindPopup(popup_b87ec0f9e31daf4e06a19891e5db728a)
        ;

        
    
    
                marker_bdcdbd8e724463f6571698bec88ebe3b.setIcon(icon_7ab0c2da55625d0c37bd6fa5276a44cf);
            
    
            var marker_ec3120bc8a87eaac5bae95eb2c7adb79 = L.marker(
                [30.398278523361718, -97.75222688753743],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_9611f2811a6cb34696650702d46abea7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "institution",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1533bbb5e11eaab3d2049636df54b7c1 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_27c8a256fa760d187247fd4ee1b3edde = $(`<div id="html_27c8a256fa760d187247fd4ee1b3edde" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Great Hillls Baptist Church, A Building.<br>Type of POI: place_of_worship.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_1533bbb5e11eaab3d2049636df54b7c1.setContent(html_27c8a256fa760d187247fd4ee1b3edde);
            
        

        marker_ec3120bc8a87eaac5bae95eb2c7adb79.bindPopup(popup_1533bbb5e11eaab3d2049636df54b7c1)
        ;

        
    
    
                marker_ec3120bc8a87eaac5bae95eb2c7adb79.setIcon(icon_9611f2811a6cb34696650702d46abea7);
            
    
            var marker_e8c1f36bac735b894e56054158630cbb = L.marker(
                [30.39539812222734, -97.7453694139631],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_c0cb0da3ebfa63277a2dfab905785aec = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_e90b076252bf3f8301ddfb17d0aac655 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_71739e211ba7374582c99796472432c0 = $(`<div id="html_71739e211ba7374582c99796472432c0" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10051 Great Hills/Research (Target).<br>Name of POI: Truluck's Seafood Steak & Crab.<br>Type of POI: restaurant.<br>Bus journey: 2 minutes.</div>`)[0];
                popup_e90b076252bf3f8301ddfb17d0aac655.setContent(html_71739e211ba7374582c99796472432c0);
            
        

        marker_e8c1f36bac735b894e56054158630cbb.bindPopup(popup_e90b076252bf3f8301ddfb17d0aac655)
        ;

        
    
    
                marker_e8c1f36bac735b894e56054158630cbb.setIcon(icon_c0cb0da3ebfa63277a2dfab905785aec);
            
    
            var marker_ff2301c44309cc3e4c4609066bf647e5 = L.marker(
                [30.39924152172207, -97.75174930484071],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_5e61e7e6c383972796fb70b2ace64220 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "institution",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_8896d54d8ce64cd54b53cf065b478e05 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_d1ad0c99d377db5f5251a255273d0096 = $(`<div id="html_d1ad0c99d377db5f5251a255273d0096" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Great Hillls Baptist Church, C Building.<br>Type of POI: place_of_worship.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_8896d54d8ce64cd54b53cf065b478e05.setContent(html_d1ad0c99d377db5f5251a255273d0096);
            
        

        marker_ff2301c44309cc3e4c4609066bf647e5.bindPopup(popup_8896d54d8ce64cd54b53cf065b478e05)
        ;

        
    
    
                marker_ff2301c44309cc3e4c4609066bf647e5.setIcon(icon_5e61e7e6c383972796fb70b2ace64220);
            
    
            var marker_92d3e27e96e01a2bdc447936ffb1cfd8 = L.marker(
                [30.397648880510125, -97.74707606685891],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_5a5e836c4bd2354cbdc8a69d29d2d203 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_021a4dceb9c64da0c3424cf2211dfbf3 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_69a10c429cca1b5a2474cf58c564f507 = $(`<div id="html_69a10c429cca1b5a2474cf58c564f507" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Saltgrass Steak House.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_021a4dceb9c64da0c3424cf2211dfbf3.setContent(html_69a10c429cca1b5a2474cf58c564f507);
            
        

        marker_92d3e27e96e01a2bdc447936ffb1cfd8.bindPopup(popup_021a4dceb9c64da0c3424cf2211dfbf3)
        ;

        
    
    
                marker_92d3e27e96e01a2bdc447936ffb1cfd8.setIcon(icon_5a5e836c4bd2354cbdc8a69d29d2d203);
            
    
            var marker_3ce78e2a4578c9db4c08391a58622b1d = L.marker(
                [30.398934653998143, -97.7523996882683],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_e0b69e3748eba6b6da8069a664d52d93 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "institution",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_771fde3f7549a54e1dc75a04f801e729 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_ca6baba5a5e6e1a417616587ed86791b = $(`<div id="html_ca6baba5a5e6e1a417616587ed86791b" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Great Hillls Baptist Church, B Building.<br>Type of POI: place_of_worship.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_771fde3f7549a54e1dc75a04f801e729.setContent(html_ca6baba5a5e6e1a417616587ed86791b);
            
        

        marker_3ce78e2a4578c9db4c08391a58622b1d.bindPopup(popup_771fde3f7549a54e1dc75a04f801e729)
        ;

        
    
    
                marker_3ce78e2a4578c9db4c08391a58622b1d.setIcon(icon_e0b69e3748eba6b6da8069a664d52d93);
            
    
            var marker_70ef2042450a4a9eec646ef7287300cc = L.marker(
                [30.394918, -97.7525341],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_f27dcc86a29a14dd30e4466f1430932e = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "coffee",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d16732accad402d176a7d6588b85bfd9 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_3337b4983c68e8c67f138349873d6778 = $(`<div id="html_3337b4983c68e8c67f138349873d6778" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Starbucks.<br>Type of POI: cafe.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_d16732accad402d176a7d6588b85bfd9.setContent(html_3337b4983c68e8c67f138349873d6778);
            
        

        marker_70ef2042450a4a9eec646ef7287300cc.bindPopup(popup_d16732accad402d176a7d6588b85bfd9)
        ;

        
    
    
                marker_70ef2042450a4a9eec646ef7287300cc.setIcon(icon_f27dcc86a29a14dd30e4466f1430932e);
            
    
            var marker_6d7b25953b9d6330dafbedc802fa38b3 = L.marker(
                [30.3909012, -97.7475971],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_170fc040db0df710c5a96726c8a8efdf = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_bfd6d24860c520b55c956bb482b14088 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_3aa65092d7086f774b86e68453212b44 = $(`<div id="html_3aa65092d7086f774b86e68453212b44" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: The Cheesecake Factory.<br>Type of POI: restaurant.<br>Bus journey: 1 minutes.</div>`)[0];
                popup_bfd6d24860c520b55c956bb482b14088.setContent(html_3aa65092d7086f774b86e68453212b44);
            
        

        marker_6d7b25953b9d6330dafbedc802fa38b3.bindPopup(popup_bfd6d24860c520b55c956bb482b14088)
        ;

        
    
    
                marker_6d7b25953b9d6330dafbedc802fa38b3.setIcon(icon_170fc040db0df710c5a96726c8a8efdf);
            
    
            var marker_ce1f4ee91b3af8864d86c17e02af148a = L.marker(
                [30.3999414, -97.7485126],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_12e4eeed34694858e1cde7a94b97606a = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_7d4ceeabdd5e03ae82a978a51e2c1109 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_c23a0b04d1956d6b1f4560d385281576 = $(`<div id="html_c23a0b04d1956d6b1f4560d385281576" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Fujiyama.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_7d4ceeabdd5e03ae82a978a51e2c1109.setContent(html_c23a0b04d1956d6b1f4560d385281576);
            
        

        marker_ce1f4ee91b3af8864d86c17e02af148a.bindPopup(popup_7d4ceeabdd5e03ae82a978a51e2c1109)
        ;

        
    
    
                marker_ce1f4ee91b3af8864d86c17e02af148a.setIcon(icon_12e4eeed34694858e1cde7a94b97606a);
            
    
            var marker_f4d43bb88330a6b5e316caa65cc16edc = L.marker(
                [30.3999342, -97.7483653],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_8a99519da8469129e395acabf435c4dc = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "coffee",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_297a337ade6abd4438554cbb8de4ceef = L.popup({
  "maxWidth": 300,
});

        
            
                var html_b181b0f625d9b5f66d2b88ce31fa232c = $(`<div id="html_b181b0f625d9b5f66d2b88ce31fa232c" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Great Harvest Bread Co..<br>Type of POI: cafe.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_297a337ade6abd4438554cbb8de4ceef.setContent(html_b181b0f625d9b5f66d2b88ce31fa232c);
            
        

        marker_f4d43bb88330a6b5e316caa65cc16edc.bindPopup(popup_297a337ade6abd4438554cbb8de4ceef)
        ;

        
    
    
                marker_f4d43bb88330a6b5e316caa65cc16edc.setIcon(icon_8a99519da8469129e395acabf435c4dc);
            
    
            var marker_717e9877d3ced547119aefdcb4e9138e = L.marker(
                [30.4001039, -97.748023],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_226c3259709e0ebb84f2f27ac1f05a6f = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_5f0d3d18e3ec5e8145fd006dd74d2c23 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_7dc8fe925210327a0231848ce5ee57b5 = $(`<div id="html_7dc8fe925210327a0231848ce5ee57b5" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Twin Lion.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_5f0d3d18e3ec5e8145fd006dd74d2c23.setContent(html_7dc8fe925210327a0231848ce5ee57b5);
            
        

        marker_717e9877d3ced547119aefdcb4e9138e.bindPopup(popup_5f0d3d18e3ec5e8145fd006dd74d2c23)
        ;

        
    
    
                marker_717e9877d3ced547119aefdcb4e9138e.setIcon(icon_226c3259709e0ebb84f2f27ac1f05a6f);
            
    
            var marker_43bb2818837d17552df4c6d6f82ac29c = L.marker(
                [30.3998084, -97.746813],
                {
}
            ).addTo(map_0cea7cd3db37c9d50332d29ba99db0a4);
        
    
            var icon_ebf7f261d54662b4e6c95373c361c3da = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "cutlery",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_15b21bb7fbcb3da81398d14dd9c8538d = L.popup({
  "maxWidth": 300,
});

        
            
                var html_d698d06b22b6d41034d5e68cff5aa571 = $(`<div id="html_d698d06b22b6d41034d5e68cff5aa571" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Gatti's Pizza.<br>Type of POI: restaurant.<br>Bus journey: 0 minutes.</div>`)[0];
                popup_15b21bb7fbcb3da81398d14dd9c8538d.setContent(html_d698d06b22b6d41034d5e68cff5aa571);
            
        

        marker_43bb2818837d17552df4c6d6f82ac29c.bindPopup(popup_15b21bb7fbcb3da81398d14dd9c8538d)
        ;

        
    
    
                marker_43bb2818837d17552df4c6d6f82ac29c.setIcon(icon_ebf7f261d54662b4e6c95373c361c3da);
            
</script>
</html>